/*#postbox-container-2 {*/
/*    display: flex;*/
/*}*/

/*#normal-sortables,*/
/*#advanced-sortables{*/
/*    width:50%;*/
/*}*/

.links-wysiwyg .mce-btn-group .mce-btn:not(#mceu_73){
    display:none
}

.form_params .acf-actions,
.form_params .acf-row-handle{
    display:none
}

#form-html-meta-box .inside{
    overflow-wrap: anywhere;
}