/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Robotothin.woff") format("woff"), url("../static/fonts/Robotothin.wof2") format("woff2"), url("../static/fonts/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Robotolight.woff") format("woff"), url("../static/fonts/Robotolight.wof2") format("woff2"), url("../static/fonts/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Roboto.woff") format("woff"), url("../static/fonts/Roboto.wof2") format("woff2"), url("../static/fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Robotomedium.woff") format("woff"), url("../static/fonts/Robotomedium.wof2") format("woff2"), url("../static/fonts/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Robotobold.woff") format("woff"), url("../static/fonts/Robotobold.wof2") format("woff2"), url("../static/fonts/Robotobold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Robotoblack.woff") format("woff"), url("../static/fonts/Robotoblack.wof2") format("woff2"), url("../static/fonts/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #808b96;
  background: #fff;
}

.app {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 112%;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 150%;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
}

h6 {
  font-size: 1.6rem;
  font-weight: 600;
}

.wrapper {
  max-width: 120.2rem;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 2.4rem;
}
.section-title > * {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  color: #2c3e50;
}

.section-subtitle {
  margin-bottom: 6rem;
}
.section-subtitle > * {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #808b96;
}

.forms {
  padding: 10rem 0;
}
.forms__block:not(:last-child) {
  margin-bottom: 7rem;
}
.forms__block__title {
  margin-bottom: 4rem;
}
.forms__block__title > * {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #2c3e50;
}
.forms__block__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}
.forms__block__rows__item {
  margin: 0 1.5rem;
  width: calc((100% / 3) - 3rem);
}
.forms__block__rows__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 4rem;
}
.forms__block__rows__item.double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.forms__block__rows__item.double > * {
  width: 100%;
  margin: 0;
}
.forms__block__rows__item.double > *:not(:last-child) {
  margin-right: 3rem;
}
.forms__block__rows__item.center {
  width: calc(100% - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.forms__block__rows__item.center .checkbox {
  padding-top: 4rem;
}
.forms__success {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f8fdf4;
  border-radius: 0.4rem;
  padding: 2.5rem 0;
}
.forms__success img,
.forms__success svg {
  width: 3rem;
  height: 3rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 1rem;
}
.forms__success * {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #6ab04c;
}

img {
  width: 100%;
}


.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  position: relative;
}
.form-input.error .form-input__error {
  display: block;
}
.form-input label {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-input label.open {
  color: #6a89cc;
}
.form-input input {
  height: 3.6rem;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #e6edfa;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-input input::-webkit-input-placeholder {
  color: #d2d8e0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-input input:-ms-input-placeholder {
  color: #d2d8e0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-input input::-ms-input-placeholder {
  color: #d2d8e0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-input input::placeholder {
  color: #d2d8e0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-input input:focus {
  border-bottom-color: #6a89cc;
}
.form-input input:focus ~ label {
  color: #6a89cc;
}
.form-input__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1.75rem;
}
.form-input__date__input {
  margin: 0 1.75rem;
}
.form-input__dropdown {
  position: relative;
  z-index: 1;
}
.form-input__dropdown > input {
  border-bottom-color: #e6edfa !important;
  background: transparent;
}
.form-input__dropdown > input:focus::-webkit-input-placeholder {
  color: #6a89cc;
}
.form-input__dropdown > input:focus:-ms-input-placeholder {
  color: #6a89cc;
}
.form-input__dropdown > input:focus::-ms-input-placeholder {
  color: #6a89cc;
}
.form-input__dropdown > input:focus::placeholder {
  color: #6a89cc;
}
.form-input__dropdown > input:focus::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.form-input__dropdown.open {
  z-index: 3;
}
.form-input__dropdown.open::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.form-input__dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../static/app/img/ico_dropdown.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(0deg);
  -ms-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: -1;
}
.form-input__dropdown__container {
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  right: 0;
  border: 0.1rem solid #f3f6fc;
  max-height: 25rem;
  background: #ffffff;
  z-index: 2;
  padding: 1rem 0;
  display: none;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.form-input__dropdown__container__inner {
  scrollbar-color: #abc4ed #f3f6fc;
  scrollbar-width: thin;
  overflow-y: auto;
  margin-right: 1rem;
  max-height: 23rem;
}
.form-input__dropdown__container__inner::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 2px;
  background-color: #f3f6fc;
}
.form-input__dropdown__container__inner::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 2px;
  background-color: #abc4ed;
}
.form-input__dropdown__list {
  padding: 0 1rem;
  overflow-y: auto;
}
.form-input__dropdown__list > * {
  cursor: pointer;
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form-input__dropdown__list > *:hover,
.form-input__dropdown__list > *.selected {
  color: #2c3e50;
}
.form-input__error {
  display: none;
  position: absolute;
  bottom: -1rem;
  right: 0;
  text-align: right;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.form-input__error > label {
  margin-bottom: 0;
  color: #e74c3c !important;
}
.form-input__error > label:not(:last-child) {
  display: none !important;
}
.form-input.error > label {
  color: #e74c3c !important;
}
.form-input.error input {
  color: #e74c3c;
  border-bottom-color: #e74c3c !important;
}
.form-input.error input::-webkit-input-placeholder {
  color: #dc786d;
}
.form-input.error input:-ms-input-placeholder {
  color: #dc786d;
}
.form-input.error input::-ms-input-placeholder {
  color: #dc786d;
}
.form-input.error input::placeholder {
  color: #dc786d;
}
.form-input.checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.form-input.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
}
.form-input.checkbox input + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.form-input.checkbox input + label::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 0.1rem solid #e6edfa;
  border-radius: 0.2rem;
  margin-right: 1.4rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem;
  cursor: pointer;
}
.form-input.checkbox input:checked + label::before {
  background-image: url("../static/app/img/ico_check.png");
}
.form-input.checkbox > label {
  color: #808b96 !important;
}
.form-input.checkbox label a {
  color: #6a89cc !important;
  text-decoration: underline;
}

.form-button {
  height: 5.8rem;
  max-width: 37rem;
  width: 100%;
}
.form-button > * {
  cursor: pointer;
  border-radius: 0.4rem;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.05em;
}
.form-button.color_primary > * {
  background: #6a89cc;
  color: #fff;
}

.forms__slides{
  display: flex;
  justify-content: space-around;
  background: #FCFDFF;
  border-radius: 4px;
  padding: 5rem 0;
  margin-left: -1rem;
  margin-right: -1rem;
}
.forms__slides__slide{
  max-width: 45rem;
  width: 100%;
  margin: 0 1rem;
}
.forms__slides__label{
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.forms__slides__label>*{
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  color: #2C3E50;
}
.forms__slides__label>*:last-child{
  text-transform: none;
  text-align: right;
}
.forms__slides__slider{
  margin: 0 auto 2rem;
  position: relative;
  width: calc(100% - 2.2rem);
  background: #F3F6FC;
  border-radius: .8rem;
}
.forms__slides__text{
  display: flex;
  justify-content: space-between;
}
.forms__slides__text>*{
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #A5B1C2;
}
.forms__slides__text>*:last-child{
  text-align: right;
}
.forms__slides__slider__range{
  height: .4rem;
  background: #ABC4ED;
  position: relative;
  left: -1.1rem;
  border-radius: .8rem;
}
.forms__slides__slider__handle{
  height: 2.2rem;
  width: 2.2rem;
  outline: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ABC4ED;
}
.forms__slides__slider__handle::after{
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: #ffffff;
  border-radius: 50%;
}

@media (max-width: 991px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 666px) {
  html {
    font-size: 10px;
  }
  .forms__block__rows__item {
    width: calc(100% - 3.2rem);
  }
  .forms__block__rows__item:nth-last-child(-n + 3):not(:last-child) {
    margin-bottom: 4rem;
  }
  .forms__block__rows__item > * {
    margin-bottom: 0 !important;
  }
  .forms__slides{
    flex-direction: column;
    margin: 0!important;
  }
  .forms__slides__slide{
    margin: 0 0 3rem;
    max-width: unset;
  }
}