<section class="new-level section">
    <div class="section-header">
        <p>Принимайте управленческие решения оперативнее, своевременно и больше на основании быстрой и наглядной информации</p>
    </div>
    <div class="wrapper">
        <div class="new-level__container">
            <div class="section-text">
                <p>С Biplane24 вы повысите эффективность своего бизнеса</p>
            </div>
            <div class="section-title">
                <h2>Перейдите на новый - цифровой уровень</h2>
            </div>
            <div class="new-level__tabs">
                <div class="new-level__tabs__nav">
                    <div class="new-level__tabs__nav__item active" data-tab="0">
                        <p>Ваш бизнес сейчас</p>
                    </div>
                    <div class="new-level__tabs__nav__item green" data-tab="1">
                        <p>Бизнес с Биплан24</p>
                    </div>
                </div>
                <div class="new-level__tabs__container">
                    <div class="new-level__tabs__tab active" data-tab="0">
                        <div class="new-level__tabs__tab__inner">
                            <div class="new-level__tabs__tab__block">
                                <div class="connected-blocks">
                                    <div class="connected-blocks__bg">
                                        <svg width="607" height="312" viewBox="0 0 607 312" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="new_level_svg1">
                                                <path id="Vector 13" d="M96 117.753L99.7528 114L96 110.247L92.2472 114L96 117.753ZM96 108.5H96.65H96ZM96 74L92.2472 80.5H99.7528L96 74ZM96 94H95.35H96ZM96.65 114C96.65 112.536 96.65 111.161 96.65 110.152C96.65 109.647 96.65 109.234 96.65 108.947C96.65 108.804 96.65 108.692 96.65 108.616C96.65 108.578 96.65 108.549 96.65 108.53C96.65 108.52 96.65 108.512 96.65 108.507C96.65 108.505 96.65 108.503 96.65 108.502C96.65 108.501 96.65 108.501 96.65 108.5C96.65 108.5 96.65 108.5 96.65 108.5C96.65 108.5 96.65 108.5 96.65 108.5C96.65 108.5 96.65 108.5 96 108.5C95.35 108.5 95.35 108.5 95.35 108.5C95.35 108.5 95.35 108.5 95.35 108.5C95.35 108.5 95.35 108.5 95.35 108.5C95.35 108.501 95.35 108.501 95.35 108.502C95.35 108.503 95.35 108.505 95.35 108.507C95.35 108.512 95.35 108.52 95.35 108.53C95.35 108.549 95.35 108.578 95.35 108.616C95.35 108.692 95.35 108.804 95.35 108.947C95.35 109.234 95.35 109.647 95.35 110.152C95.35 111.161 95.35 112.536 95.35 114H96.65ZM96.65 94V79.85H95.35V94H96.65ZM96.65 108.5L96.65 94H95.35L95.35 108.5H96.65ZM96 94.65H141V93.35H96V94.65ZM152 94.65H208.5V93.35H152V94.65ZM141 94.65H146.5V93.35H141V94.65ZM146.5 94.65L152 94.65V93.35L146.5 93.35V94.65Z" fill="#F15E62"/>
                                                <path id="Vector 18" d="M516 241.753L512.247 238L516 234.247L519.753 238L516 241.753ZM516 230.5H516.65H516ZM516 198L519.753 204.5L512.247 204.5L516 198ZM516 218H516.65V218L516 218ZM516 226.5H515.35V226.5L516 226.5ZM515.35 238C515.35 236.536 515.35 234.661 515.35 233.152C515.35 232.397 515.35 231.734 515.35 231.26C515.35 231.023 515.35 230.833 515.35 230.702C515.35 230.637 515.35 230.586 515.35 230.552C515.35 230.535 515.35 230.522 515.35 230.513C515.35 230.509 515.35 230.506 515.35 230.503C515.35 230.502 515.35 230.501 515.35 230.501C515.35 230.501 515.35 230.5 515.35 230.5C515.35 230.5 515.35 230.5 515.35 230.5C515.35 230.5 515.35 230.5 516 230.5C516.65 230.5 516.65 230.5 516.65 230.5C516.65 230.5 516.65 230.5 516.65 230.5C516.65 230.5 516.65 230.501 516.65 230.501C516.65 230.501 516.65 230.502 516.65 230.503C516.65 230.506 516.65 230.509 516.65 230.513C516.65 230.522 516.65 230.535 516.65 230.552C516.65 230.586 516.65 230.637 516.65 230.702C516.65 230.833 516.65 231.023 516.65 231.26C516.65 231.734 516.65 232.397 516.65 233.152C516.65 234.661 516.65 236.536 516.65 238H515.35ZM515.35 218L515.35 203.85L516.65 203.85L516.65 218H515.35ZM515.35 230.5V226.5H516.65V230.5H515.35ZM515.35 226.5L515.35 218L516.65 218L516.65 226.5L515.35 226.5ZM516 218.65H467.5V217.35H516V218.65ZM456.5 218.65L416 218.65V217.35L456.5 217.35V218.65ZM467.5 218.65H462V217.35H467.5V218.65ZM462 218.65H456.5V217.35H462V218.65Z" fill="#F15E62"/>
                                                <path id="Vector 15" d="M296 117.753L299.753 114L296 110.247L292.247 114L296 117.753ZM296 74L292.247 80.5H299.753L296 74ZM296.65 114V107H295.35V114H296.65ZM296.65 94.0001V79.85H295.35V94.0001H296.65ZM296.65 107V103H295.35V107H296.65ZM296.65 103V94.0001H295.35V103H296.65ZM296 93.3501L208 93.3501V94.6501L296 94.6501V93.3501Z" fill="#F15E62"/>
                                                <path id="Vector 14" d="M75.9999 80.2472L79.7527 84L75.9999 87.7528L72.2471 84L75.9999 80.2472ZM75.9999 89.625H76.6499H75.9999ZM75.9999 114L72.2471 107.5L79.7527 107.5L75.9999 114ZM75.9999 95.625H76.6499H75.9999ZM76.6499 84C76.6499 85.0955 76.6499 86.5075 76.6499 87.6363C76.6499 88.2021 76.6499 88.6993 76.6499 89.055C76.6499 89.1636 76.6499 89.2043 76.6499 89.2941C76.6499 89.2963 76.6499 89.2985 76.6499 89.3007C76.6499 89.3029 76.6499 89.305 76.6499 89.3072C76.6499 89.3093 76.6499 89.3115 76.6499 89.3136C76.6499 89.3157 76.6499 89.3178 76.6499 89.32C76.6499 89.3221 76.6499 89.3242 76.6499 89.3263C76.6499 89.3284 76.6499 89.3304 76.6499 89.3325C76.6499 89.3346 76.6499 89.3367 76.6499 89.3387C76.6499 89.3408 76.6499 89.3428 76.6499 89.3448C76.6499 89.3469 76.6499 89.3489 76.6499 89.3509C76.6499 89.3529 76.6499 89.3549 76.6499 89.3569C76.6499 89.3589 76.6499 89.3609 76.6499 89.3629C76.6499 89.3648 76.6499 89.3668 76.6499 89.3687C76.6499 89.3707 76.6499 89.3726 76.6499 89.3746C76.6499 89.3765 76.6499 89.3784 76.6499 89.3803C76.6499 89.3822 76.6499 89.3841 76.6499 89.386C76.6499 89.3879 76.6499 89.3898 76.6499 89.3917C76.6499 89.441 76.6499 89.3866 76.6499 89.4346C76.6499 89.4363 76.6499 89.438 76.6499 89.4396C76.6499 89.4413 76.6499 89.443 76.6499 89.4447C76.6499 89.4463 76.6499 89.448 76.6499 89.4496C76.6499 89.4513 76.6499 89.4529 76.6499 89.4545C76.6499 89.4561 76.6499 89.4577 76.6499 89.4593C76.6499 89.4609 76.6499 89.4625 76.6499 89.4641C76.6499 89.4657 76.6499 89.4672 76.6499 89.4688C76.6499 89.4703 76.6499 89.4719 76.6499 89.4734C76.6499 89.4749 76.6499 89.4765 76.6499 89.478C76.6499 89.4795 76.6499 89.481 76.6499 89.4825C76.6499 89.4839 76.6499 89.4854 76.6499 89.4869C76.6499 89.4884 76.6499 89.4898 76.6499 89.4913C76.6499 89.4927 76.6499 89.4941 76.6499 89.4956C76.6499 89.497 76.6499 89.4984 76.6499 89.4998C76.6499 89.5012 76.6499 89.5026 76.6499 89.504C76.6499 89.5053 76.6499 89.5067 76.6499 89.5081C76.6499 89.5094 76.6499 89.5108 76.6499 89.5121C76.6499 89.5134 76.6499 89.5147 76.6499 89.5161C76.6499 89.5174 76.6499 89.5187 76.6499 89.52C76.6499 89.5212 76.6499 89.5225 76.6499 89.5238C76.6499 89.5251 76.6499 89.5263 76.6499 89.5276C76.6499 89.5288 76.6499 89.53 76.6499 89.5313C76.6499 89.5325 76.6499 89.5337 76.6499 89.5349C76.6499 89.5361 76.6499 89.5373 76.6499 89.5384C76.6499 89.5396 76.6499 89.5408 76.6499 89.5419C76.6499 89.5431 76.6499 89.5442 76.6499 89.5454C76.6499 89.5465 76.6499 89.5476 76.6499 89.5487C76.6499 89.5498 76.6499 89.5509 76.6499 89.552C76.6499 89.5531 76.6499 89.5542 76.6499 89.5552C76.6499 89.5563 76.6499 89.5573 76.6499 89.5584C76.6499 89.5594 76.6499 89.5604 76.6499 89.5614C76.6499 89.5625 76.6499 89.5635 76.6499 89.5644C76.6499 89.5654 76.6499 89.5664 76.6499 89.5674C76.6499 89.5684 76.6499 89.5693 76.6499 89.5703C76.6499 89.5712 76.6499 89.5721 76.6499 89.573C76.6499 89.574 76.6499 89.5749 76.6499 89.5758C76.6499 89.5767 76.6499 89.5776 76.6499 89.5784C76.6499 89.5793 76.6499 89.5802 76.6499 89.581C76.6499 89.5819 76.6499 89.5827 76.6499 89.5835C76.6499 89.5843 76.6499 89.5852 76.6499 89.586C76.6499 89.5868 76.6499 89.5876 76.6499 89.5883C76.6499 89.5891 76.6499 89.5899 76.6499 89.5906C76.6499 89.5914 76.6499 89.5921 76.6499 89.5929C76.6499 89.5936 76.6499 89.5943 76.6499 89.595C76.6499 89.5957 76.6499 89.5964 76.6499 89.5971C76.6499 89.5978 76.6499 89.5984 76.6499 89.5991C76.6499 89.5997 76.6499 89.6004 76.6499 89.601C76.6499 89.6017 76.6499 89.6023 76.6499 89.6029C76.6499 89.6035 76.6499 89.6041 76.6499 89.6047C76.6499 89.6053 76.6499 89.6058 76.6499 89.6064C76.6499 89.6069 76.6499 89.6075 76.6499 89.608C76.6499 89.6086 76.6499 89.6091 76.6499 89.6096C76.6499 89.6101 76.6499 89.6106 76.6499 89.6111C76.6499 89.6116 76.6499 89.612 76.6499 89.6125C76.6499 89.6129 76.6499 89.6134 76.6499 89.6138C76.6499 89.6143 76.6499 89.6147 76.6499 89.6151C76.6499 89.6155 76.6499 89.6159 76.6499 89.6163C76.6499 89.6167 76.6499 89.617 76.6499 89.6174C76.6499 89.6178 76.6499 89.6181 76.6499 89.6184C76.6499 89.6188 76.6499 89.6191 76.6499 89.6194C76.6499 89.6197 76.6499 89.62 76.6499 89.6203C76.6499 89.6206 76.6499 89.6209 76.6499 89.6211C76.6499 89.6214 76.6499 89.6216 76.6499 89.6218C76.6499 89.6221 76.6499 89.6223 76.6499 89.6225C76.6499 89.6227 76.6499 89.6229 76.6499 89.6231C76.6499 89.6233 76.6499 89.6234 76.6499 89.6236C76.6499 89.6238 76.6499 89.6239 76.6499 89.624C76.6499 89.6242 76.6499 89.6243 76.6499 89.6244C76.6499 89.6245 76.6499 89.6246 76.6499 89.6246C76.6499 89.6247 76.6499 89.6248 76.6499 89.6248C76.6499 89.6249 76.6499 89.6249 76.6499 89.625C76.6499 89.625 76.6499 89.625 75.9999 89.625C75.3499 89.625 75.3499 89.625 75.3499 89.625C75.3499 89.6249 75.3499 89.6249 75.3499 89.6248C75.3499 89.6248 75.3499 89.6247 75.3499 89.6246C75.3499 89.6246 75.3499 89.6245 75.3499 89.6244C75.3499 89.6243 75.3499 89.6242 75.3499 89.624C75.3499 89.6239 75.3499 89.6238 75.3499 89.6236C75.3499 89.6234 75.3499 89.6233 75.3499 89.6231C75.3499 89.6229 75.3499 89.6227 75.3499 89.6225C75.3499 89.6223 75.3499 89.6221 75.3499 89.6218C75.3499 89.6216 75.3499 89.6214 75.3499 89.6211C75.3499 89.6209 75.3499 89.6206 75.3499 89.6203C75.3499 89.62 75.3499 89.6197 75.3499 89.6194C75.3499 89.6191 75.3499 89.6188 75.3499 89.6184C75.3499 89.6181 75.3499 89.6178 75.3499 89.6174C75.3499 89.617 75.3499 89.6167 75.3499 89.6163C75.3499 89.6159 75.3499 89.6155 75.3499 89.6151C75.3499 89.6147 75.3499 89.6143 75.3499 89.6138C75.3499 89.6134 75.3499 89.6129 75.3499 89.6125C75.3499 89.612 75.3499 89.6116 75.3499 89.6111C75.3499 89.6106 75.3499 89.6101 75.3499 89.6096C75.3499 89.6091 75.3499 89.6086 75.3499 89.608C75.3499 89.6075 75.3499 89.6069 75.3499 89.6064C75.3499 89.6058 75.3499 89.6053 75.3499 89.6047C75.3499 89.6041 75.3499 89.6035 75.3499 89.6029C75.3499 89.6023 75.3499 89.6017 75.3499 89.601C75.3499 89.6004 75.3499 89.5997 75.3499 89.5991C75.3499 89.5984 75.3499 89.5978 75.3499 89.5971C75.3499 89.5964 75.3499 89.5957 75.3499 89.595C75.3499 89.5943 75.3499 89.5936 75.3499 89.5929C75.3499 89.5921 75.3499 89.5914 75.3499 89.5906C75.3499 89.5899 75.3499 89.5891 75.3499 89.5883C75.3499 89.5876 75.3499 89.5868 75.3499 89.586C75.3499 89.5365 75.3499 89.5463 75.3499 89.4734C75.3499 89.4719 75.3499 89.4703 75.3499 89.4688C75.3499 89.4672 75.3499 89.4657 75.3499 89.4641C75.3499 89.4625 75.3499 89.4609 75.3499 89.4593C75.3499 89.4577 75.3499 89.4561 75.3499 89.4545C75.3499 89.4529 75.3499 89.4513 75.3499 89.4496C75.3499 89.448 75.3499 89.4463 75.3499 89.4447C75.3499 89.443 75.3499 89.4413 75.3499 89.4396C75.3499 89.438 75.3499 89.4363 75.3499 89.4346C75.3499 89.3866 75.3499 89.441 75.3499 89.3917C75.3499 89.3898 75.3499 89.3879 75.3499 89.386C75.3499 89.3841 75.3499 89.3822 75.3499 89.3803C75.3499 89.3784 75.3499 89.3765 75.3499 89.3746C75.3499 89.3726 75.3499 89.3707 75.3499 89.3687C75.3499 89.3668 75.3499 89.3648 75.3499 89.3629C75.3499 89.3609 75.3499 89.3589 75.3499 89.3569C75.3499 89.3549 75.3499 89.3529 75.3499 89.3509C75.3499 89.3489 75.3499 89.3469 75.3499 89.3448C75.3499 89.3428 75.3499 89.3408 75.3499 89.3387C75.3499 89.3367 75.3499 89.3346 75.3499 89.3325C75.3499 89.3304 75.3499 89.3284 75.3499 89.3263C75.3499 89.3242 75.3499 89.3221 75.3499 89.32C75.3499 89.3178 75.3499 89.3157 75.3499 89.3136C75.3499 89.3115 75.3499 89.3093 75.3499 89.3072C75.3499 89.305 75.3499 89.3029 75.3499 89.3007C75.3499 89.2985 75.3499 89.2963 75.3499 89.2941C75.3499 89.2043 75.3499 89.1636 75.3499 89.055C75.3499 88.6993 75.3499 88.2021 75.3499 87.6363C75.3499 86.5017 75.3499 85.1012 75.3499 84H76.6499ZM76.6499 95.625L76.6499 108.15L75.3499 108.15L75.3499 95.625H76.6499ZM76.6499 89.625V95.625H75.3499V89.625H76.6499Z" fill="#F15E62"/>
                                                <path id="Vector 19" d="M76 194.247L79.7528 198L76 201.753L72.2472 198L76 194.247ZM76 205.5H75.35H76ZM76 238L72.2472 231.5L79.7528 231.5L76 238ZM76 213.5H76.65H76ZM76.65 198C76.65 199.464 76.65 201.339 76.65 202.848C76.65 203.603 76.65 204.266 76.65 204.74C76.65 204.977 76.65 205.167 76.65 205.298C76.65 205.363 76.65 205.414 76.65 205.448C76.65 205.465 76.65 205.478 76.65 205.487C76.65 205.491 76.65 205.494 76.65 205.497C76.65 205.498 76.65 205.499 76.65 205.499C76.65 205.499 76.65 205.5 76.65 205.5C76.65 205.5 76.65 205.5 76.65 205.5C76.65 205.5 76.65 205.5 76 205.5C75.35 205.5 75.35 205.5 75.35 205.5C75.35 205.5 75.35 205.5 75.35 205.5C75.35 205.5 75.35 205.499 75.35 205.499C75.35 205.499 75.35 205.498 75.35 205.497C75.35 205.494 75.35 205.491 75.35 205.487C75.35 205.478 75.35 205.465 75.35 205.448C75.35 205.414 75.35 205.363 75.35 205.298C75.35 205.167 75.35 204.977 75.35 204.74C75.35 204.266 75.35 203.603 75.35 202.848C75.35 201.339 75.35 199.464 75.35 198H76.65ZM76.65 213.5V232.15H75.35V213.5H76.65ZM76.65 205.5V209.5H75.35V205.5H76.65ZM76.65 209.5V213.5H75.35V209.5H76.65Z" fill="#F15E62"/>
                                                <path id="Vector 49" d="M96 241.753L99.7528 238L96 234.247L92.2472 238L96 241.753ZM96 230.5H95.35H96ZM96 198L92.2472 204.5L99.7528 204.5L96 198ZM96 222.5H96.65H96ZM96.65 238C96.65 236.535 96.65 234.66 96.65 233.152C96.65 232.397 96.65 231.734 96.65 231.26C96.65 231.023 96.65 230.833 96.65 230.702C96.65 230.637 96.65 230.586 96.65 230.552C96.65 230.535 96.65 230.522 96.65 230.513C96.65 230.509 96.65 230.505 96.65 230.503C96.65 230.502 96.65 230.501 96.65 230.501C96.65 230.5 96.65 230.5 96.65 230.5C96.65 230.5 96.65 230.5 96.65 230.5C96.65 230.5 96.65 230.5 96 230.5C95.35 230.5 95.35 230.5 95.35 230.5C95.35 230.5 95.35 230.5 95.35 230.5C95.35 230.5 95.35 230.5 95.35 230.501C95.35 230.501 95.35 230.502 95.35 230.503C95.35 230.505 95.35 230.509 95.35 230.513C95.35 230.522 95.35 230.535 95.35 230.552C95.35 230.586 95.35 230.637 95.35 230.702C95.35 230.833 95.35 231.023 95.35 231.26C95.35 231.734 95.35 232.397 95.35 233.152C95.35 234.66 95.35 236.535 95.35 238H96.65ZM96.65 222.5V203.85H95.35V222.5H96.65ZM96.65 230.5V226.5H95.35V230.5H96.65ZM96.65 226.5V222.5H95.35V226.5H96.65Z" fill="#F15E62"/>
                                                <path id="Vector 20" d="M296 194.247L299.753 198L296 201.753L292.247 198L296 194.247ZM296 205.5H295.35H296ZM296 238L292.247 231.5H299.753L296 238ZM296 218H296.65V218.65H296V218ZM157 218V217.35H157.269L157.46 217.54L157 218ZM137 218L137.46 218.46L137.269 218.65H137V218ZM142 213L141.54 212.54L142 212.081L142.46 212.54L142 213ZM167 218L166.54 217.54L166.731 217.35H167V218ZM162 223L162.46 223.46L162 223.919L161.54 223.46L162 223ZM147 218V218.65H146.731L146.54 218.46L147 218ZM296.65 198C296.65 199.464 296.65 201.339 296.65 202.848C296.65 203.603 296.65 204.266 296.65 204.74C296.65 204.977 296.65 205.167 296.65 205.298C296.65 205.363 296.65 205.414 296.65 205.448C296.65 205.465 296.65 205.478 296.65 205.487C296.65 205.491 296.65 205.495 296.65 205.497C296.65 205.497 296.65 205.499 296.65 205.499C296.65 205.5 296.65 205.499 296.65 205.5C296.65 205.5 296.65 205.5 296.65 205.5C296.65 205.5 296.65 205.5 296 205.5C295.35 205.5 295.35 205.5 295.35 205.5C295.35 205.5 295.35 205.5 295.35 205.5C295.35 205.5 295.35 205.5 295.35 205.5C295.35 205.499 295.35 205.499 295.35 205.499C295.35 205.499 295.35 205.497 295.35 205.497C295.35 205.494 295.35 205.491 295.35 205.487C295.35 205.478 295.35 205.465 295.35 205.448C295.35 205.414 295.35 205.363 295.35 205.298C295.35 205.167 295.35 204.977 295.35 204.74C295.35 204.266 295.35 203.603 295.35 202.848C295.35 201.339 295.35 199.464 295.35 198H296.65ZM296.65 213.5V232.15H295.35V213.5H296.65ZM296.65 205.5V218H295.35V205.5H296.65ZM295.35 218V213.5H296.65V218H295.35ZM137 218.65H76V217.35H137V218.65ZM142.46 213.46L137.46 218.46L136.54 217.54L141.54 212.54L142.46 213.46ZM296 218.65L167 218.65V217.35L296 217.35V218.65ZM167.46 218.46L162.46 223.46L161.54 222.54L166.54 217.54L167.46 218.46ZM161.54 223.46L156.54 218.46L157.46 217.54L162.46 222.54L161.54 223.46ZM157 218.65H147V217.35H157V218.65ZM146.54 218.46L141.54 213.46L142.46 212.54L147.46 217.54L146.54 218.46Z" fill="#F15E62"/>
                                                <path id="Vector 16" d="M516 70.2472L519.753 74L516 77.7528L512.247 74L516 70.2472ZM516 81.5H515.35H516ZM516 114L512.247 107.5H519.753L516 114ZM516.65 74C516.65 75.4645 516.65 77.3395 516.65 78.8484C516.65 79.6028 516.65 80.2657 516.65 80.74C516.65 80.9772 516.65 81.1672 516.65 81.2979C516.65 81.3632 516.65 81.4138 516.65 81.4479C516.65 81.465 516.65 81.4781 516.65 81.4868C516.65 81.4912 516.65 81.4945 516.65 81.4967C516.65 81.4978 516.65 81.4986 516.65 81.4992C516.65 81.4994 516.65 81.4996 516.65 81.4998C516.65 81.4999 516.65 81.4999 516.65 81.4999C516.65 81.5 516.65 81.5 516 81.5C515.35 81.5 515.35 81.5 515.35 81.4999C515.35 81.4999 515.35 81.4999 515.35 81.4998C515.35 81.4996 515.35 81.4994 515.35 81.4992C515.35 81.4986 515.35 81.4978 515.35 81.4967C515.35 81.4945 515.35 81.4912 515.35 81.4868C515.35 81.4781 515.35 81.465 515.35 81.4479C515.35 81.4138 515.35 81.3632 515.35 81.2979C515.35 81.1672 515.35 80.9772 515.35 80.74C515.35 80.2657 515.35 79.6028 515.35 78.8484C515.35 77.3395 515.35 75.4645 515.35 74H516.65ZM516.65 89.5V108.15H515.35V89.5H516.65ZM516.65 81.5V85.5H515.35V81.5H516.65ZM516.65 85.5V89.5H515.35V85.5H516.65Z" fill="#F15E62"/>
                                                <path id="Vector 17" d="M536 117.753L539.753 114L536 110.247L532.247 114L536 117.753ZM536 106.5H535.35H536ZM526 74L532.5 77.7528V70.2472L526 74ZM536 74H536.65V73.35H536V74ZM536.65 114C536.65 112.536 536.65 110.661 536.65 109.152C536.65 108.397 536.65 107.734 536.65 107.26C536.65 107.023 536.65 106.833 536.65 106.702C536.65 106.637 536.65 106.586 536.65 106.552C536.65 106.535 536.65 106.522 536.65 106.513C536.65 106.509 536.65 106.506 536.65 106.503C536.65 106.502 536.65 106.501 536.65 106.501C536.65 106.501 536.65 106.5 536.65 106.5C536.65 106.5 536.65 106.5 536.65 106.5C536.65 106.5 536.65 106.5 536 106.5C535.35 106.5 535.35 106.5 535.35 106.5C535.35 106.5 535.35 106.5 535.35 106.5C535.35 106.5 535.35 106.501 535.35 106.501C535.35 106.501 535.35 106.502 535.35 106.503C535.35 106.506 535.35 106.509 535.35 106.513C535.35 106.522 535.35 106.535 535.35 106.552C535.35 106.586 535.35 106.637 535.35 106.702C535.35 106.833 535.35 107.023 535.35 107.26C535.35 107.734 535.35 108.397 535.35 109.152C535.35 110.661 535.35 112.536 535.35 114H536.65ZM536.65 106.5V102.5H535.35V106.5H536.65ZM536.65 102.5V98.5H535.35V102.5H536.65ZM536.65 98.5V74H535.35V98.5H536.65ZM536 73.35H531.85V74.65H536V73.35Z" fill="#F15E62"/>
                                                <path id="Vector 48" d="M316 70.2472L319.753 74L316 77.7528L312.247 74L316 70.2472ZM316 81.5H315.35H316ZM306 114L312.5 110.247V117.753L306 114ZM316 114H316.65V114.65H316V114ZM316.65 74C316.65 75.4645 316.65 77.3395 316.65 78.8484C316.65 79.6028 316.65 80.2657 316.65 80.74C316.65 80.9772 316.65 81.1672 316.65 81.2979C316.65 81.3632 316.65 81.4138 316.65 81.4479C316.65 81.465 316.65 81.4781 316.65 81.4868C316.65 81.4912 316.65 81.4945 316.65 81.4967C316.65 81.4978 316.65 81.4986 316.65 81.4992C316.65 81.4995 316.65 81.4996 316.65 81.4998C316.65 81.4999 316.65 81.4999 316.65 81.4999C316.65 81.5 316.65 81.5 316 81.5C315.35 81.5 315.35 81.5 315.35 81.4999C315.35 81.4999 315.35 81.4999 315.35 81.4998C315.35 81.4997 315.35 81.4994 315.35 81.4992C315.35 81.4986 315.35 81.4978 315.35 81.4967C315.35 81.4945 315.35 81.4912 315.35 81.4868C315.35 81.4781 315.35 81.465 315.35 81.4479C315.35 81.4138 315.35 81.3632 315.35 81.2979C315.35 81.1672 315.35 80.9772 315.35 80.74C315.35 80.2657 315.35 79.6028 315.35 78.8484C315.35 77.3395 315.35 75.4645 315.35 74H316.65ZM316.65 81.5V85.5H315.35V81.5H316.65ZM316.65 85.5V89.5H315.35V85.5H316.65ZM316.65 89.5V114H315.35V89.5H316.65ZM316 114.65H311.85V113.35H316V114.65Z" fill="#F15E62"/>
                                                <path id="Vector 8" d="M397.247 290L401 293.753L404.753 290L401 286.247L397.247 290ZM408.5 290L408.5 289.35L408.5 290ZM431 290L424.5 286.247L424.5 293.753L431 290ZM416.5 290L416.5 289.35L416.5 290ZM412.5 290L412.5 290.65L412.5 290ZM401 290.65C402.464 290.65 404.339 290.65 405.848 290.65C406.603 290.65 407.266 290.65 407.74 290.65C407.977 290.65 408.167 290.65 408.298 290.65C408.363 290.65 408.414 290.65 408.448 290.65C408.465 290.65 408.478 290.65 408.487 290.65C408.491 290.65 408.494 290.65 408.497 290.65C408.498 290.65 408.499 290.65 408.499 290.65C408.499 290.65 408.5 290.65 408.5 290.65C408.5 290.65 408.5 290.65 408.5 290.65C408.5 290.65 408.5 290.65 408.5 290C408.5 289.35 408.5 289.35 408.5 289.35C408.5 289.35 408.5 289.35 408.5 289.35C408.5 289.35 408.499 289.35 408.499 289.35C408.499 289.35 408.498 289.35 408.497 289.35C408.494 289.35 408.491 289.35 408.487 289.35C408.478 289.35 408.465 289.35 408.448 289.35C408.414 289.35 408.363 289.35 408.298 289.35C408.167 289.35 407.977 289.35 407.74 289.35C407.266 289.35 406.603 289.35 405.848 289.35C404.339 289.35 402.464 289.35 401 289.35L401 290.65ZM416.5 290.65L425.15 290.65L425.15 289.35L416.5 289.35L416.5 290.65ZM408.5 290.65L412.5 290.65L412.5 289.35L408.5 289.35L408.5 290.65ZM412.5 290.65L416.5 290.65L416.5 289.35L412.5 289.35L412.5 290.65Z" fill="#F15E62"/>
                                                <path id="Vector 7" d="M214.753 156L211 159.753L207.247 156L211 152.247L214.753 156ZM196 156L196 156.65L195.35 156.65L195.35 156L196 156ZM181 42L187.5 38.2472L187.5 45.7528L181 42ZM196 42L196 41.35L196.65 41.35L196.65 42L196 42ZM196 88.5001L196.65 88.5001L196 88.5001ZM196 73.5001L196.65 73.5001L196 73.5001ZM196 81.0001L195.35 81.0001L196 81.0001ZM196 97.0001L195.35 97.0001L196 97.0001ZM196 112.5L196.65 112.5L196 112.5ZM211 156.65C209.536 156.65 205.786 156.65 202.402 156.65C200.71 156.65 199.109 156.65 197.932 156.65C197.343 156.65 196.86 156.65 196.524 156.65C196.356 156.65 196.225 156.65 196.136 156.65C196.092 156.65 196.058 156.65 196.035 156.65C196.023 156.65 196.015 156.65 196.009 156.65C196.005 156.65 196.005 156.65 196.002 156.65C196.001 156.65 196.001 156.65 196.001 156.65C196 156.65 196 156.65 196 156.65C196 156.65 196 156.65 196 156C196 155.35 196 155.35 196 155.35C196 155.35 196 155.35 196.001 155.35C196.001 155.35 196.001 155.35 196.002 155.35C196.004 155.35 196.006 155.35 196.009 155.35C196.015 155.35 196.023 155.35 196.035 155.35C196.058 155.35 196.092 155.35 196.136 155.35C196.225 155.35 196.356 155.35 196.524 155.35C196.86 155.35 197.343 155.35 197.932 155.35C199.109 155.35 200.71 155.35 202.402 155.35C205.786 155.35 209.536 155.35 211 155.35L211 156.65ZM196 42.65L186.85 42.65L186.85 41.35L196 41.35L196 42.65ZM195.35 73.5001L195.35 42L196.65 42L196.65 73.5001L195.35 73.5001ZM195.35 88.5001L195.35 81.0001L196.65 81.0001L196.65 88.5001L195.35 88.5001ZM195.35 81.0001L195.35 73.5001L196.65 73.5001L196.65 81.0001L195.35 81.0001ZM195.35 97.0001L195.35 88.5001L196.65 88.5001L196.65 97.0001L195.35 97.0001ZM195.35 156L195.35 112.5L196.65 112.5L196.65 156L195.35 156ZM195.35 112.5L195.35 104.5L196.65 104.5L196.65 112.5L195.35 112.5ZM195.35 104.5L195.35 97.0001L196.65 97.0001L196.65 104.5L195.35 104.5Z" fill="#F15E62"/>
                                                <path id="Vector 11" d="M434.753 280L431 283.753L427.247 280L431 276.247L434.753 280ZM416 280L416 280.65L415.35 280.65L415.35 280L416 280ZM401 42L407.5 38.2472L407.5 45.7528L401 42ZM416 42L416 41.35L416.65 41.35L416.65 42L416 42ZM416 148L415.54 148.46L415.35 148.269L415.35 148L416 148ZM416 94L415.35 94L416 94ZM416 158L415.35 158L415.35 157.731L415.54 157.54L416 158ZM421 153L421.46 152.54L421.919 153L421.46 153.46L421 153ZM416 168L416.65 168L416.65 168.269L416.46 168.46L416 168ZM416 178L416.46 177.54L416.65 177.731L416.65 178L416 178ZM411 173L410.54 173.46L410.081 173L410.54 172.54L411 173ZM431 280.65C429.536 280.65 425.786 280.65 422.402 280.65C420.71 280.65 419.109 280.65 417.932 280.65C417.343 280.65 416.86 280.65 416.524 280.65C416.356 280.65 416.226 280.65 416.136 280.65C416.092 280.65 416.057 280.65 416.035 280.65C416.024 280.65 416.014 280.65 416.009 280.65C416.006 280.65 416.007 280.65 416.005 280.65C416 280.65 416.007 280.65 416.002 280.65C416 280.65 416.002 280.65 416.001 280.65C416 280.65 416 280.65 416 280.65C416 280.65 416 280.65 416 280C416 279.35 416 279.35 416 279.35C416 279.35 416 279.35 416.001 279.35C416.001 279.35 416.001 279.35 416.001 279.35C416.002 279.35 416.002 279.35 416.002 279.35C416.003 279.35 416.003 279.35 416.003 279.35C416.004 279.35 416.004 279.35 416.005 279.35C416.007 279.35 416.006 279.35 416.009 279.35C416.015 279.35 416.023 279.35 416.035 279.35C416.058 279.35 416.091 279.35 416.136 279.35C416.225 279.35 416.357 279.35 416.524 279.35C416.86 279.35 417.343 279.35 417.932 279.35C419.109 279.35 420.71 279.35 422.402 279.35C425.786 279.35 429.536 279.35 431 279.35L431 280.65ZM416 42.65L406.85 42.65L406.85 41.35L416 41.35L416 42.65ZM415.35 148L415.35 94L416.65 94L416.65 148L415.35 148ZM415.35 94L415.35 42L416.65 42L416.65 94L415.35 94ZM416 93.35L516.5 93.35L516.5 94.65L416 94.65L416 93.35ZM415.54 157.54L420.54 152.54L421.46 153.46L416.46 158.46L415.54 157.54ZM420.54 153.46L415.54 148.46L416.46 147.54L421.46 152.54L420.54 153.46ZM415.35 168L415.35 158L416.65 158L416.65 168L415.35 168ZM415.35 280L415.35 178L416.65 178L416.65 280L415.35 280ZM415.54 178.46L410.54 173.46L411.46 172.54L416.46 177.54L415.54 178.46ZM410.54 172.54L415.54 167.54L416.46 168.46L411.46 173.46L410.54 172.54Z" fill="#F15E62"/>
                                                <path id="Vector 10" d="M214.753 166L211 162.247L207.247 166L211 169.753L214.753 166ZM196 166L196 165.35L195.35 165.35L195.35 166L196 166ZM181 280L187.5 283.753L187.5 276.247L181 280ZM196 280L196 280.65L196.65 280.65L196.65 280L196 280ZM196 257.5L195.35 257.5L196 257.5ZM211 165.35L196 165.35L196 166.65L211 166.65L211 165.35ZM196 279.35L186.85 279.35L186.85 280.65L196 280.65L196 279.35ZM195.35 257.5L195.35 280L196.65 280L196.65 257.5L195.35 257.5ZM195.35 166L195.35 257.5L196.65 257.5L196.65 166L195.35 166Z" fill="#F15E62"/>
                                                <path id="Vector 9" d="M177.247 290L181 293.753L184.753 290L181 286.247L177.247 290ZM188.5 290L188.5 289.35L188.5 290ZM211 290L204.5 286.247L204.5 293.753L211 290ZM196.5 290L196.5 289.35L196.5 290ZM192.5 290L192.5 290.65L192.5 290ZM181 290.65C182.464 290.65 184.339 290.65 185.848 290.65C186.603 290.65 187.266 290.65 187.74 290.65C187.977 290.65 188.167 290.65 188.298 290.65C188.363 290.65 188.414 290.65 188.448 290.65C188.465 290.65 188.478 290.65 188.487 290.65C188.491 290.65 188.494 290.65 188.497 290.65C188.498 290.65 188.499 290.65 188.499 290.65C188.499 290.65 188.5 290.65 188.5 290.65C188.5 290.65 188.5 290.65 188.5 290.65C188.5 290.65 188.5 290.65 188.5 290C188.5 289.35 188.5 289.35 188.5 289.35C188.5 289.35 188.5 289.35 188.5 289.35C188.5 289.35 188.499 289.35 188.499 289.35C188.499 289.35 188.498 289.35 188.497 289.35C188.494 289.35 188.491 289.35 188.487 289.35C188.478 289.35 188.465 289.35 188.448 289.35C188.414 289.35 188.363 289.35 188.298 289.35C188.167 289.35 187.977 289.35 187.74 289.35C187.266 289.35 186.603 289.35 185.848 289.35C184.339 289.35 182.464 289.35 181 289.35L181 290.65ZM196.5 290.65L205.15 290.65L205.15 289.35L196.5 289.35L196.5 290.65ZM188.5 290.65L192.5 290.65L192.5 289.35L188.5 289.35L188.5 290.65ZM192.5 290.65L196.5 290.65L196.5 289.35L192.5 289.35L192.5 290.65Z" fill="#F15E62"/>
                                                <g class="blinking">
                                                    <circle id="Ellipse 18" cx="196" cy="133" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 60" cx="196" cy="117" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 61" cx="196" cy="101" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 89" cx="196" cy="85" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 90" cx="196" cy="69" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 91" cx="196" cy="53" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 56" cx="196" cy="149" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 90_2" cx="316" cy="103" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 91_2" cx="316" cy="87" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 90_3" cx="96" cy="227" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 91_3" cx="96" cy="211" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 90_4" cx="76" cy="225" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 91_4" cx="76" cy="209" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 90_5" cx="516" cy="227" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 91_5" cx="516" cy="211" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 92" cx="196" cy="179" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 89_2" cx="196" cy="194" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 90_6" cx="196" cy="210" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 91_6" cx="196" cy="226" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 63" cx="196" cy="240" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 64" cx="196" cy="254" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 65" cx="196" cy="270" r="2.5" fill="white" stroke="#F15E62"/>

                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 76" cx="106" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 75" cx="122" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 74" cx="138" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 73" cx="154" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 72" cx="170" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 71" cx="186" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 82" cx="206" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 81" cx="222" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 80" cx="238" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 79" cx="254" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 78" cx="270" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 77" cx="286" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 83" cx="505" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 84" cx="489" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 85" cx="473" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 86" cx="457" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 87" cx="441" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 88" cx="425" cy="94" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 83_2" cx="505" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 84_2" cx="489" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 85_2" cx="473" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 86_2" cx="457" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 87_2" cx="441" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 88_2" cx="425" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 90_7" cx="171" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 89_3" cx="187" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 88_3" cx="205" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 87_3" cx="221" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 86_3" cx="237" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 85_3" cx="253" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 84_3" cx="269" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 83_3" cx="285" cy="218" r="2.5" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 83_4" cx="416" cy="270" r="2.5" transform="rotate(90 416 270)" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 84_4" cx="416" cy="254" r="2.5" transform="rotate(90 416 254)" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 85_4" cx="416" cy="239" r="2.5" transform="rotate(90 416 239)" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 86_4" cx="416" cy="224" r="2.5" transform="rotate(90 416 224)" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 87_4" cx="416" cy="206" r="2.5" transform="rotate(90 416 206)" fill="white" stroke="#F15E62"/>
                                                    <circle id="Ellipse 88_4" cx="416" cy="190" r="2.5" transform="rotate(90 416 190)" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <path id="Vector 4" d="M177.247 32L181 35.7528L184.753 32L181 28.2472L177.247 32ZM188.5 32L188.5 31.35L188.5 32ZM211 32L204.5 28.2472L204.5 35.7528L211 32ZM196.5 32L196.5 31.35L196.5 32ZM192.5 32L192.5 32.65L192.5 32ZM181 32.65C182.464 32.65 184.339 32.65 185.848 32.65C186.603 32.65 187.266 32.65 187.74 32.65C187.977 32.65 188.167 32.65 188.298 32.65C188.363 32.65 188.414 32.65 188.448 32.65C188.465 32.65 188.478 32.65 188.487 32.65C188.491 32.65 188.494 32.65 188.497 32.65C188.498 32.65 188.499 32.65 188.499 32.65C188.499 32.65 188.5 32.65 188.5 32.65C188.5 32.65 188.5 32.65 188.5 32.65C188.5 32.65 188.5 32.65 188.5 32C188.5 31.35 188.5 31.35 188.5 31.35C188.5 31.35 188.5 31.35 188.5 31.35C188.5 31.35 188.499 31.35 188.499 31.35C188.499 31.35 188.498 31.35 188.497 31.35C188.494 31.35 188.491 31.35 188.487 31.35C188.478 31.35 188.465 31.35 188.448 31.35C188.414 31.35 188.363 31.35 188.298 31.35C188.167 31.35 187.977 31.35 187.74 31.35C187.266 31.35 186.603 31.35 185.848 31.35C184.339 31.35 182.464 31.35 181 31.35L181 32.65ZM196.5 32.65L205.15 32.65L205.15 31.35L196.5 31.35L196.5 32.65ZM188.5 32.65L192.5 32.65L192.5 31.35L188.5 31.35L188.5 32.65ZM192.5 32.65L196.5 32.65L196.5 31.35L192.5 31.35L192.5 32.65Z" fill="#F15E62"/>
                                                <path id="Vector 5" d="M434.753 32L431 35.7528L427.247 32L431 28.2472L434.753 32ZM423.5 32L423.5 31.35L423.5 32ZM401 32L407.5 28.2472L407.5 35.7528L401 32ZM415.5 32L415.5 31.35L415.5 32ZM419.5 32L419.5 32.65L419.5 32ZM431 32.65C429.536 32.65 427.661 32.65 426.152 32.65C425.397 32.65 424.734 32.65 424.26 32.65C424.023 32.65 423.833 32.65 423.702 32.65C423.637 32.65 423.586 32.65 423.552 32.65C423.535 32.65 423.522 32.65 423.513 32.65C423.509 32.65 423.506 32.65 423.503 32.65C423.502 32.65 423.501 32.65 423.501 32.65C423.501 32.65 423.5 32.65 423.5 32.65C423.5 32.65 423.5 32.65 423.5 32.65C423.5 32.65 423.5 32.65 423.5 32C423.5 31.35 423.5 31.35 423.5 31.35C423.5 31.35 423.5 31.35 423.5 31.35C423.5 31.35 423.501 31.35 423.501 31.35C423.501 31.35 423.502 31.35 423.503 31.35C423.506 31.35 423.509 31.35 423.513 31.35C423.522 31.35 423.535 31.35 423.552 31.35C423.586 31.35 423.637 31.35 423.702 31.35C423.833 31.35 424.023 31.35 424.26 31.35C424.734 31.35 425.397 31.35 426.152 31.35C427.661 31.35 429.536 31.35 431 31.35L431 32.65ZM415.5 32.65L406.85 32.65L406.85 31.35L415.5 31.35L415.5 32.65ZM423.5 32.65L419.5 32.65L419.5 31.35L423.5 31.35L423.5 32.65ZM419.5 32.65L415.5 32.65L415.5 31.35L419.5 31.35L419.5 32.65Z" fill="#F15E62"/>
                                                <g class="blinking">
                                                    <circle id="Ellipse 91_7" cx="418" cy="32" r="2.5" transform="rotate(90 418 32)" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 91_8" cx="418" cy="290" r="2.5" transform="rotate(90 418 290)" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 91_9" cx="196" cy="32" r="2.5" transform="rotate(90 196 32)" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 91_10" cx="196" cy="290" r="2.5" transform="rotate(90 196 290)" fill="white" stroke="#F15E62"/>
                                                </g>
                                                <g class="blinking">
                                                    <circle id="Ellipse 91_11" cx="76" cy="97" r="2.5" transform="rotate(90 76 97)" fill="white" stroke="#F15E62"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="connected-blocks__rows">
                                        <div class="connected-blocks__row">
                                            <div class="connected-blocks__item">
                                                <p>Коммерческая служба</p>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Производство</p>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Логистика (транспорт, склад)</p>
                                            </div>
                                        </div>
                                        <div class="connected-blocks__row">
                                            <div class="connected-blocks__item">
                                                <p>Коммерческая служба</p>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Производство</p>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Логистика (транспорт, склад)</p>
                                            </div>
                                        </div>
                                        <div class="connected-blocks__row">
                                        <div class="connected-blocks__item">
                                            <p>Коммерческая служба</p>
                                        </div>
                                        <div class="connected-blocks__item">
                                            <p>Производство</p>
                                        </div>
                                        <div class="connected-blocks__item">
                                            <p>Логистика (транспорт, склад)</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="new-level__tabs__tab__bottom">
                                    <div class="new-level__lottie" id="new_level_tab1"></div>
                                    <div class="new-level__tabs__tab__bottom__img" id="new-level_director1">
                                        <img src="/static/app/img/new-level_tab1.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="new-level__tabs__tab__block smaller">
                                <div class="new-level__block">
                                    <div class="new-level__block__top">
                                        <div class="new-level__block__icons">
                                            <div class="new-level__block__icons__item">
                                                <div class="new-level__block__icons__item__icon">
                                                    <img src="/static/app/img/ico_chat-arrow-down.svg">
                                                </div>
                                                <div class="new-level__block__icons__item__text">
                                                    <p>Выручка</p>
                                                </div>
                                            </div>
                                            <div class="new-level__block__icons__item">
                                                <div class="new-level__block__icons__item__icon">
                                                    <img src="/static/app/img/ico_chat-arrow-grow.svg">
                                                </div>
                                                <div class="new-level__block__icons__item__text">
                                                    <p>Расходы</p>
                                                </div>
                                            </div>
                                            <div class="new-level__block__icons__item">
                                                <div class="new-level__block__icons__item__icon">
                                                    <img src="/static/app/img/ico_chat-arrow-down.svg">
                                                </div>
                                                <div class="new-level__block__icons__item__text">
                                                    <p>Прибыль</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="new-level__block__list" id="new_level_list1">
                                            <ul>
                                                <li>Мало решений</li>
                                                <li>Медлительность и несвоевременность решений</li>
                                                <li>Заблуждения</li>
                                                <li>Отсутствие реальной картины</li>
                                                <li>Стагнация показателей</li>
                                                <li>Зависимость от частных мнений</li>
                                                <li>Принятие неверных решений основанных на недостоверной информации</li>
                                                <li>Отсутствие системности и периодичности контроля показателей бизнеса</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="new-level__block__bottom">
                                        <div class="new-level__block__bottom__img">
                                            <img src="/static/app/img/ico_warning.svg">
                                        </div>
                                        <div class="new-level__block__bottom__text">
                                            <p>ХАОС в информационных потоках, коммуникациях и показателях бизнеса.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-level__tabs__tab" data-tab="1">
                        <div class="new-level__tabs__tab__inner">
                            <div class="new-level__tabs__tab__block">
                                <div class="connected-blocks">
                                    <div class="connected-blocks__bg">
                                        <svg width="607" height="312" viewBox="0 0 607 312" fill="none" xmlns="http://www.w3.org/2000/svg" id="new_level_svg2">
                                            <path d="M180 32L186.5 35.7528L186.5 28.2472L180 32ZM187.5 32L187.5 31.35L187.5 32ZM210 32L203.5 28.2472L203.5 35.7528L210 32ZM195.5 32L195.5 31.35L195.5 32ZM191.5 32L191.5 32.65L191.5 32ZM185.85 32.65C186.343 32.65 186.755 32.65 187.044 32.65C187.189 32.65 187.303 32.65 187.381 32.65C187.42 32.65 187.449 32.65 187.47 32.65C187.48 32.65 187.487 32.65 187.492 32.65C187.495 32.65 187.497 32.65 187.498 32.65C187.499 32.65 187.499 32.65 187.5 32.65C187.5 32.65 187.5 32.65 187.5 32.65C187.5 32.65 187.5 32.65 187.5 32.65C187.5 32.65 187.5 32.65 187.5 32.65C187.5 32.65 187.5 32.65 187.5 32C187.5 31.35 187.5 31.35 187.5 31.35C187.5 31.35 187.5 31.35 187.5 31.35C187.5 31.35 187.5 31.35 187.5 31.35C187.5 31.35 187.5 31.35 187.5 31.35C187.499 31.35 187.499 31.35 187.498 31.35C187.497 31.35 187.495 31.35 187.492 31.35C187.487 31.35 187.48 31.35 187.47 31.35C187.449 31.35 187.42 31.35 187.381 31.35C187.303 31.35 187.189 31.35 187.044 31.35C186.755 31.35 186.343 31.35 185.85 31.35L185.85 32.65ZM195.5 32.65L204.15 32.65L204.15 31.35L195.5 31.35L195.5 32.65ZM187.5 32.65L191.5 32.65L191.5 31.35L187.5 31.35L187.5 32.65ZM191.5 32.65L195.5 32.65L195.5 31.35L191.5 31.35L191.5 32.65Z" fill="#2CC98E"/>
                                            <path d="M180 156L186.5 159.753L186.5 152.247L180 156ZM187.5 156L187.5 155.35L187.5 156ZM210 156L203.5 152.247L203.5 159.753L210 156ZM195.5 156L195.5 155.35L195.5 156ZM191.5 156L191.5 156.65L191.5 156ZM185.85 156.65C186.343 156.65 186.755 156.65 187.044 156.65C187.189 156.65 187.303 156.65 187.381 156.65C187.42 156.65 187.449 156.65 187.47 156.65C187.48 156.65 187.487 156.65 187.492 156.65C187.495 156.65 187.497 156.65 187.498 156.65C187.499 156.65 187.499 156.65 187.5 156.65C187.5 156.65 187.5 156.65 187.5 156.65C187.5 156.65 187.5 156.65 187.5 156.65C187.5 156.65 187.5 156.65 187.5 156.65C187.5 156.65 187.5 156.65 187.5 156C187.5 155.35 187.5 155.35 187.5 155.35C187.5 155.35 187.5 155.35 187.5 155.35C187.5 155.35 187.5 155.35 187.5 155.35C187.5 155.35 187.5 155.35 187.5 155.35C187.499 155.35 187.499 155.35 187.498 155.35C187.497 155.35 187.495 155.35 187.492 155.35C187.487 155.35 187.48 155.35 187.47 155.35C187.449 155.35 187.42 155.35 187.381 155.35C187.303 155.35 187.189 155.35 187.044 155.35C186.755 155.35 186.343 155.35 185.85 155.35L185.85 156.65ZM195.5 156.65L204.15 156.65L204.15 155.35L195.5 155.35L195.5 156.65ZM187.5 156.65L191.5 156.65L191.5 155.35L187.5 155.35L187.5 156.65ZM191.5 156.65L195.5 156.65L195.5 155.35L191.5 155.35L191.5 156.65Z" fill="#2CC98E"/>
                                            <path d="M85 74L81.2472 80.5L88.7528 80.5L85 74ZM85 91.5L85.65 91.5L85 91.5ZM85 114L88.7528 107.5L81.2472 107.5L85 114ZM85 99.5L85.65 99.5L85 99.5ZM85 95.5L84.35 95.5L85 95.5ZM84.35 79.8506C84.35 82.4422 84.35 85.3545 84.35 87.619C84.35 88.7512 84.35 89.7215 84.35 90.4087C84.35 90.7523 84.35 91.0251 84.35 91.212C84.35 91.3055 84.35 91.3775 84.35 91.4261C84.35 91.4504 84.35 91.4689 84.35 91.4813C84.35 91.4875 84.35 91.4922 84.35 91.4953C84.35 91.4969 84.35 91.498 84.35 91.4988C84.35 91.4992 84.35 91.4995 84.35 91.4997C84.35 91.4998 84.35 91.4999 84.35 91.4999C84.35 91.5 84.35 91.5 85 91.5C85.65 91.5 85.65 91.5 85.65 91.4999C85.65 91.4999 85.65 91.4998 85.65 91.4997C85.65 91.4995 85.65 91.4992 85.65 91.4988C85.65 91.498 85.65 91.4969 85.65 91.4953C85.65 91.4922 85.65 91.4875 85.65 91.4813C85.65 91.4689 85.65 91.4504 85.65 91.4261C85.65 91.3775 85.65 91.3055 85.65 91.212C85.65 91.0251 85.65 90.7523 85.65 90.4087C85.65 89.7215 85.65 88.7512 85.65 87.619C85.65 85.3545 85.65 82.4422 85.65 79.8506L84.35 79.8506ZM84.35 99.5L84.35 108.15L85.65 108.15L85.65 99.5L84.35 99.5ZM84.35 91.5L84.35 95.5L85.65 95.5L85.65 91.5L84.35 91.5ZM84.35 95.5L84.35 99.5L85.65 99.5L85.65 95.5L84.35 95.5Z" fill="#2CC98E"/>
                                            <path d="M85 198L81.2472 204.5L88.7528 204.5L85 198ZM85 215.5L85.65 215.5L85 215.5ZM85 238L88.7528 231.5L81.2472 231.5L85 238ZM85 223.5L85.65 223.5L85 223.5ZM85 219.5L84.35 219.5L85 219.5ZM84.35 203.851C84.35 206.442 84.35 209.355 84.35 211.619C84.35 212.751 84.35 213.721 84.35 214.409C84.35 214.752 84.35 215.025 84.35 215.212C84.35 215.305 84.35 215.377 84.35 215.426C84.35 215.45 84.35 215.469 84.35 215.481C84.35 215.487 84.35 215.492 84.35 215.495C84.35 215.497 84.35 215.498 84.35 215.499C84.35 215.499 84.35 215.5 84.35 215.5C84.35 215.5 84.35 215.5 84.35 215.5C84.35 215.5 84.35 215.5 85 215.5C85.65 215.5 85.65 215.5 85.65 215.5C85.65 215.5 85.65 215.5 85.65 215.5C85.65 215.5 85.65 215.499 85.65 215.499C85.65 215.498 85.65 215.497 85.65 215.495C85.65 215.492 85.65 215.487 85.65 215.481C85.65 215.469 85.65 215.45 85.65 215.426C85.65 215.377 85.65 215.305 85.65 215.212C85.65 215.025 85.65 214.752 85.65 214.409C85.65 213.721 85.65 212.751 85.65 211.619C85.65 209.355 85.65 206.442 85.65 203.851L84.35 203.851ZM84.35 223.5L84.35 232.15L85.65 232.15L85.65 223.5L84.35 223.5ZM84.35 215.5L84.35 219.5L85.65 219.5L85.65 215.5L84.35 215.5ZM84.35 219.5L84.35 223.5L85.65 223.5L85.65 219.5L84.35 219.5Z" fill="#2CC98E"/>
                                            <path d="M305 74L301.247 80.5L308.753 80.5L305 74ZM305 91.5L305.65 91.5L305 91.5ZM305 114L308.753 107.5L301.247 107.5L305 114ZM305 99.5L305.65 99.5L305 99.5ZM305 95.5L304.35 95.5L305 95.5ZM304.35 79.8506C304.35 82.4422 304.35 85.3545 304.35 87.619C304.35 88.7512 304.35 89.7215 304.35 90.4087C304.35 90.7523 304.35 91.0251 304.35 91.212C304.35 91.3055 304.35 91.3775 304.35 91.4261C304.35 91.4504 304.35 91.4689 304.35 91.4813C304.35 91.4875 304.35 91.4922 304.35 91.4953C304.35 91.4969 304.35 91.498 304.35 91.4988C304.35 91.4992 304.35 91.4995 304.35 91.4997C304.35 91.4998 304.35 91.4999 304.35 91.4999C304.35 91.5 304.35 91.5 305 91.5C305.65 91.5 305.65 91.5 305.65 91.4999C305.65 91.4999 305.65 91.4998 305.65 91.4997C305.65 91.4995 305.65 91.4992 305.65 91.4988C305.65 91.498 305.65 91.4969 305.65 91.4953C305.65 91.4922 305.65 91.4875 305.65 91.4813C305.65 91.4689 305.65 91.4504 305.65 91.4261C305.65 91.3775 305.65 91.3055 305.65 91.212C305.65 91.0251 305.65 90.7523 305.65 90.4087C305.65 89.7215 305.65 88.7512 305.65 87.619C305.65 85.3545 305.65 82.4422 305.65 79.8506L304.35 79.8506ZM304.35 99.5L304.35 108.15L305.65 108.15L305.65 99.5L304.35 99.5ZM304.35 91.5L304.35 95.5L305.65 95.5L305.65 91.5L304.35 91.5ZM304.35 95.5L304.35 99.5L305.65 99.5L305.65 95.5L304.35 95.5Z" fill="#2CC98E"/>
                                            <path d="M305 198L301.247 204.5L308.753 204.5L305 198ZM305 215.5L305.65 215.5L305 215.5ZM305 238L308.753 231.5L301.247 231.5L305 238ZM305 223.5L305.65 223.5L305 223.5ZM305 219.5L304.35 219.5L305 219.5ZM304.35 203.851C304.35 206.442 304.35 209.355 304.35 211.619C304.35 212.751 304.35 213.721 304.35 214.409C304.35 214.752 304.35 215.025 304.35 215.212C304.35 215.305 304.35 215.377 304.35 215.426C304.35 215.45 304.35 215.469 304.35 215.481C304.35 215.487 304.35 215.492 304.35 215.495C304.35 215.497 304.35 215.498 304.35 215.499C304.35 215.499 304.35 215.5 304.35 215.5C304.35 215.5 304.35 215.5 304.35 215.5C304.35 215.5 304.35 215.5 305 215.5C305.65 215.5 305.65 215.5 305.65 215.5C305.65 215.5 305.65 215.5 305.65 215.5C305.65 215.5 305.65 215.499 305.65 215.499C305.65 215.498 305.65 215.497 305.65 215.495C305.65 215.492 305.65 215.487 305.65 215.481C305.65 215.469 305.65 215.45 305.65 215.426C305.65 215.377 305.65 215.305 305.65 215.212C305.65 215.025 305.65 214.752 305.65 214.409C305.65 213.721 305.65 212.751 305.65 211.619C305.65 209.355 305.65 206.442 305.65 203.851L304.35 203.851ZM304.35 223.5L304.35 232.15L305.65 232.15L305.65 223.5L304.35 223.5ZM304.35 215.5L304.35 219.5L305.65 219.5L305.65 215.5L304.35 215.5ZM304.35 219.5L304.35 223.5L305.65 223.5L305.65 219.5L304.35 219.5Z" fill="#2CC98E"/>
                                            <path d="M525 74L521.247 80.5L528.753 80.5L525 74ZM525 91.5L525.65 91.5L525 91.5ZM525 114L528.753 107.5L521.247 107.5L525 114ZM525 99.5L525.65 99.5L525 99.5ZM525 95.5L524.35 95.5L525 95.5ZM524.35 79.8506C524.35 82.4422 524.35 85.3545 524.35 87.619C524.35 88.7512 524.35 89.7215 524.35 90.4087C524.35 90.7523 524.35 91.0251 524.35 91.212C524.35 91.3055 524.35 91.3775 524.35 91.4261C524.35 91.4504 524.35 91.4689 524.35 91.4813C524.35 91.4875 524.35 91.4922 524.35 91.4953C524.35 91.4969 524.35 91.498 524.35 91.4988C524.35 91.4992 524.35 91.4995 524.35 91.4997C524.35 91.4998 524.35 91.4999 524.35 91.4999C524.35 91.5 524.35 91.5 525 91.5C525.65 91.5 525.65 91.5 525.65 91.4999C525.65 91.4999 525.65 91.4998 525.65 91.4997C525.65 91.4995 525.65 91.4992 525.65 91.4988C525.65 91.498 525.65 91.4969 525.65 91.4953C525.65 91.4922 525.65 91.4875 525.65 91.4813C525.65 91.4689 525.65 91.4504 525.65 91.4261C525.65 91.3775 525.65 91.3055 525.65 91.212C525.65 91.0251 525.65 90.7523 525.65 90.4087C525.65 89.7215 525.65 88.7512 525.65 87.619C525.65 85.3545 525.65 82.4422 525.65 79.8506L524.35 79.8506ZM524.35 99.5L524.35 108.15L525.65 108.15L525.65 99.5L524.35 99.5ZM524.35 91.5L524.35 95.5L525.65 95.5L525.65 91.5L524.35 91.5ZM524.35 95.5L524.35 99.5L525.65 99.5L525.65 95.5L524.35 95.5Z" fill="#2CC98E"/>
                                            <path d="M525 198L521.247 204.5L528.753 204.5L525 198ZM525 215.5L525.65 215.5L525 215.5ZM525 238L528.753 231.5L521.247 231.5L525 238ZM525 223.5L525.65 223.5L525 223.5ZM525 219.5L524.35 219.5L525 219.5ZM524.35 203.851C524.35 206.442 524.35 209.355 524.35 211.619C524.35 212.751 524.35 213.721 524.35 214.409C524.35 214.752 524.35 215.025 524.35 215.212C524.35 215.305 524.35 215.377 524.35 215.426C524.35 215.45 524.35 215.469 524.35 215.481C524.35 215.487 524.35 215.492 524.35 215.495C524.35 215.497 524.35 215.498 524.35 215.499C524.35 215.499 524.35 215.5 524.35 215.5C524.35 215.5 524.35 215.5 524.35 215.5C524.35 215.5 524.35 215.5 525 215.5C525.65 215.5 525.65 215.5 525.65 215.5C525.65 215.5 525.65 215.5 525.65 215.5C525.65 215.5 525.65 215.499 525.65 215.499C525.65 215.498 525.65 215.497 525.65 215.495C525.65 215.492 525.65 215.487 525.65 215.481C525.65 215.469 525.65 215.45 525.65 215.426C525.65 215.377 525.65 215.305 525.65 215.212C525.65 215.025 525.65 214.752 525.65 214.409C525.65 213.721 525.65 212.751 525.65 211.619C525.65 209.355 525.65 206.442 525.65 203.851L524.35 203.851ZM524.35 223.5L524.35 232.15L525.65 232.15L525.65 223.5L524.35 223.5ZM524.35 215.5L524.35 219.5L525.65 219.5L525.65 215.5L524.35 215.5ZM524.35 219.5L524.35 223.5L525.65 223.5L525.65 219.5L524.35 219.5Z" fill="#2CC98E"/>
                                            <path d="M180 280L186.5 283.753L186.5 276.247L180 280ZM187.5 280L187.5 279.35L187.5 280ZM210 280L203.5 276.247L203.5 283.753L210 280ZM195.5 280L195.5 279.35L195.5 280ZM191.5 280L191.5 280.65L191.5 280ZM185.85 280.65C186.343 280.65 186.755 280.65 187.044 280.65C187.189 280.65 187.303 280.65 187.381 280.65C187.42 280.65 187.449 280.65 187.47 280.65C187.48 280.65 187.487 280.65 187.492 280.65C187.495 280.65 187.497 280.65 187.498 280.65C187.499 280.65 187.499 280.65 187.5 280.65C187.5 280.65 187.5 280.65 187.5 280.65C187.5 280.65 187.5 280.65 187.5 280.65C187.5 280.65 187.5 280.65 187.5 280.65C187.5 280.65 187.5 280.65 187.5 280C187.5 279.35 187.5 279.35 187.5 279.35C187.5 279.35 187.5 279.35 187.5 279.35C187.5 279.35 187.5 279.35 187.5 279.35C187.5 279.35 187.5 279.35 187.5 279.35C187.499 279.35 187.499 279.35 187.498 279.35C187.497 279.35 187.495 279.35 187.492 279.35C187.487 279.35 187.48 279.35 187.47 279.35C187.449 279.35 187.42 279.35 187.381 279.35C187.303 279.35 187.189 279.35 187.044 279.35C186.755 279.35 186.343 279.35 185.85 279.35L185.85 280.65ZM195.5 280.65L204.15 280.65L204.15 279.35L195.5 279.35L195.5 280.65ZM187.5 280.65L191.5 280.65L191.5 279.35L187.5 279.35L187.5 280.65ZM191.5 280.65L195.5 280.65L195.5 279.35L191.5 279.35L191.5 280.65Z" fill="#2CC98E"/>
                                            <path d="M430 32L423.5 35.7528L423.5 28.2472L430 32ZM422.5 32L422.5 31.35L422.5 32ZM400 32L406.5 28.2472L406.5 35.7528L400 32ZM414.5 32L414.5 31.35L414.5 32ZM418.5 32L418.5 32.65L418.5 32ZM424.15 32.65C423.657 32.65 423.245 32.65 422.956 32.65C422.811 32.65 422.697 32.65 422.619 32.65C422.58 32.65 422.551 32.65 422.53 32.65C422.52 32.65 422.513 32.65 422.508 32.65C422.505 32.65 422.503 32.65 422.502 32.65C422.501 32.65 422.501 32.65 422.5 32.65C422.5 32.65 422.5 32.65 422.5 32.65C422.5 32.65 422.5 32.65 422.5 32.65C422.5 32.65 422.5 32.65 422.5 32.65C422.5 32.65 422.5 32.65 422.5 32C422.5 31.35 422.5 31.35 422.5 31.35C422.5 31.35 422.5 31.35 422.5 31.35C422.5 31.35 422.5 31.35 422.5 31.35C422.5 31.35 422.5 31.35 422.5 31.35C422.501 31.35 422.501 31.35 422.502 31.35C422.503 31.35 422.505 31.35 422.508 31.35C422.513 31.35 422.52 31.35 422.53 31.35C422.551 31.35 422.58 31.35 422.619 31.35C422.697 31.35 422.811 31.35 422.956 31.35C423.245 31.35 423.657 31.35 424.15 31.35L424.15 32.65ZM414.5 32.65L405.85 32.65L405.85 31.35L414.5 31.35L414.5 32.65ZM422.5 32.65L418.5 32.65L418.5 31.35L422.5 31.35L422.5 32.65ZM418.5 32.65L414.5 32.65L414.5 31.35L418.5 31.35L418.5 32.65Z" fill="#2CC98E"/>
                                            <path d="M430 156L423.5 159.753L423.5 152.247L430 156ZM422.5 156L422.5 155.35L422.5 156ZM400 156L406.5 152.247L406.5 159.753L400 156ZM414.5 156L414.5 155.35L414.5 156ZM418.5 156L418.5 156.65L418.5 156ZM424.15 156.65C423.657 156.65 423.245 156.65 422.956 156.65C422.811 156.65 422.697 156.65 422.619 156.65C422.58 156.65 422.551 156.65 422.53 156.65C422.52 156.65 422.513 156.65 422.508 156.65C422.505 156.65 422.503 156.65 422.502 156.65C422.501 156.65 422.501 156.65 422.5 156.65C422.5 156.65 422.5 156.65 422.5 156.65C422.5 156.65 422.5 156.65 422.5 156.65C422.5 156.65 422.5 156.65 422.5 156.65C422.5 156.65 422.5 156.65 422.5 156C422.5 155.35 422.5 155.35 422.5 155.35C422.5 155.35 422.5 155.35 422.5 155.35C422.5 155.35 422.5 155.35 422.5 155.35C422.5 155.35 422.5 155.35 422.5 155.35C422.501 155.35 422.501 155.35 422.502 155.35C422.503 155.35 422.505 155.35 422.508 155.35C422.513 155.35 422.52 155.35 422.53 155.35C422.551 155.35 422.58 155.35 422.619 155.35C422.697 155.35 422.811 155.35 422.956 155.35C423.245 155.35 423.657 155.35 424.15 155.35L424.15 156.65ZM414.5 156.65L405.85 156.65L405.85 155.35L414.5 155.35L414.5 156.65ZM422.5 156.65L418.5 156.65L418.5 155.35L422.5 155.35L422.5 156.65ZM418.5 156.65L414.5 156.65L414.5 155.35L418.5 155.35L418.5 156.65Z" fill="#2CC98E"/>
                                            <path d="M430 280L423.5 283.753L423.5 276.247L430 280ZM422.5 280L422.5 279.35L422.5 280ZM400 280L406.5 276.247L406.5 283.753L400 280ZM414.5 280L414.5 279.35L414.5 280ZM418.5 280L418.5 280.65L418.5 280ZM424.15 280.65C423.657 280.65 423.245 280.65 422.956 280.65C422.811 280.65 422.697 280.65 422.619 280.65C422.58 280.65 422.551 280.65 422.53 280.65C422.52 280.65 422.513 280.65 422.508 280.65C422.505 280.65 422.503 280.65 422.502 280.65C422.501 280.65 422.501 280.65 422.5 280.65C422.5 280.65 422.5 280.65 422.5 280.65C422.5 280.65 422.5 280.65 422.5 280.65C422.5 280.65 422.5 280.65 422.5 280.65C422.5 280.65 422.5 280.65 422.5 280C422.5 279.35 422.5 279.35 422.5 279.35C422.5 279.35 422.5 279.35 422.5 279.35C422.5 279.35 422.5 279.35 422.5 279.35C422.5 279.35 422.5 279.35 422.5 279.35C422.501 279.35 422.501 279.35 422.502 279.35C422.503 279.35 422.505 279.35 422.508 279.35C422.513 279.35 422.52 279.35 422.53 279.35C422.551 279.35 422.58 279.35 422.619 279.35C422.697 279.35 422.811 279.35 422.956 279.35C423.245 279.35 423.657 279.35 424.15 279.35L424.15 280.65ZM414.5 280.65L405.85 280.65L405.85 279.35L414.5 279.35L414.5 280.65ZM422.5 280.65L418.5 280.65L418.5 279.35L422.5 279.35L422.5 280.65ZM418.5 280.65L414.5 280.65L414.5 279.35L418.5 279.35L418.5 280.65Z" fill="#2CC98E"/>
                                        </svg>

                                    </div>
                                    <div class="connected-blocks__rows">
                                        <div class="connected-blocks__row">
                                            <div class="connected-blocks__item">
                                                <p>Коммерческая служба</p>
                                                <div class="tooltip" id="new_level_tip1">
                                                    <img src="/static/app/img/tooltip.png">
                                                    <div class="new-level__tooltips__tip" data-tooltip="new_level_tip1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Производство</p>
                                                <div class="tooltip" id="new_level_tip2">
                                                    <img src="/static/app/img/tooltip.png">
                                                    <div class="new-level__tooltips__tip" data-tooltip="new_level_tip2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Логистика (транспорт, склад)</p>
                                                <div class="tooltip" id="new_level_tip3">
                                                    <img src="/static/app/img/tooltip.png">
                                                    <div class="new-level__tooltips__tip" data-tooltip="new_level_tip3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="connected-blocks__row">
                                            <div class="connected-blocks__item">
                                                <p>Коммерческая служба</p>
                                                <div class="tooltip" id="new_level_tip4">
                                                    <img src="/static/app/img/tooltip.png">
                                                    <div class="new-level__tooltips__tip" data-tooltip="new_level_tip4">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Производство</p>
                                                <div class="tooltip" id="new_level_tip5">
                                                    <img src="/static/app/img/tooltip.png">
                                                    <div class="new-level__tooltips__tip" data-tooltip="new_level_tip5">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="connected-blocks__item">
                                                <p>Логистика (транспорт, склад)</p>
                                                <div class="tooltip" id="new_level_tip6">
                                                    <img src="/static/app/img/tooltip.png">
                                                    <div class="new-level__tooltips__tip" data-tooltip="new_level_tip6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="connected-blocks__row">
                                        <div class="connected-blocks__item">
                                            <p>Коммерческая служба</p>
                                            <div class="tooltip" id="new_level_tip7">
                                                <img src="/static/app/img/tooltip.png">
                                                <div class="new-level__tooltips__tip" data-tooltip="new_level_tip7">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="connected-blocks__item">
                                            <p>Производство</p>
                                            <div class="tooltip" id="new_level_tip8">
                                                <img src="/static/app/img/tooltip.png">
                                                <div class="new-level__tooltips__tip" data-tooltip="new_level_tip8">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="connected-blocks__item">
                                            <p>Логистика (транспорт, склад)</p>
                                            <div class="tooltip" id="new_level_tip9">
                                                <img src="/static/app/img/tooltip.png">
                                                <div class="new-level__tooltips__tip" data-tooltip="new_level_tip9">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="new-level__tabs__tab__bottom">
                                        <div id="new-level_director2"></div>
                                </div>
                            </div>
                            <div class="new-level__tabs__tab__block smaller">
                                <div class="new-level__block green">
                                    <div class="new-level__block__top">
                                        <div class="new-level__block__icons">
                                            <div class="new-level__block__icons__item">
                                                <div class="new-level__block__icons__item__icon">
                                                    <img src="/static/app/img/ico_chat-arrow-grow_green.svg">
                                                </div>
                                                <div class="new-level__block__icons__item__text">
                                                    <p>Выручка</p>
                                                </div>
                                            </div>
                                            <div class="new-level__block__icons__item">
                                                <div class="new-level__block__icons__item__icon">
                                                    <img src="/static/app/img/ico_chat-arrow-down_green.svg">
                                                </div>
                                                <div class="new-level__block__icons__item__text">
                                                    <p>Расходы</p>
                                                </div>
                                            </div>
                                            <div class="new-level__block__icons__item">
                                                <div class="new-level__block__icons__item__icon">
                                                    <img src="/static/app/img/ico_chat-arrow-down_green.svg">
                                                </div>
                                                <div class="new-level__block__icons__item__text">
                                                    <p>Прибыль</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="new-level__block__list" id="new_level_list2">
                                            <ul>
                                                <li>Много эффективных решений</li>
                                                <li>Быстрые и своевременные решения</li>
                                                <li>Достоверность данных</li>
                                                <li>Реальная картина по бизнесу и всем отделам</li>
                                                <li>Положительная динамика показателей</li>
                                                <li>Независимые автоматические данные</li>
                                                <li>Принятие правильных решений основанных на достоверной информации</li>
                                                <li>Контроль выполнения плановых показателей</li>
                                                <li>В навигации бизнеса вместо 10 показателей – более 100</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="new-level__block__bottom">
                                        <div class="new-level__block__bottom__img">
                                            <img src="/static/app/img/ico_lightbulb.svg">
                                        </div>
                                        <div class="new-level__block__bottom__text">
                                            <p>Бизнес под контролем</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
