@import "../../develop/app/pallete.scss";

.new-level {
  &__container{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__tabs{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &__container{
      overflow: hidden;
      height: 100%;
      padding-top: 4rem;
    }
    &__nav{
      display: flex;
      width: max-content;
      padding: 1rem;
      background: #ffffff;
      border-radius: 10rem;
      margin: 0 auto;
      &__item{
        height: 3.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10rem;
        padding: 0 2rem;
        cursor: pointer;
        transition: all .3s linear;
        &:not(:last-child){
          margin-right: 1rem;
        }
        &>*{
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.8rem;
          text-align: center;
          color: $grey-light;
        }
        &.active{
          background: $secondary;
          box-shadow: 0 0 2rem -1.5rem rgba(241, 94, 98, 0.4);
          backdrop-filter: blur(8rem);
          &.green{
            background: $third;
          }
          &>*{
            color: #fff;
          }
        }
      }
    }
    &__tab{
      height: 100%;
      display: none;
      &:last-child{
        & .new-level__tabs__tab__bottom__img>*{
          max-height: 18rem;
        }
      }
      &__inner{
        display: flex;
        margin: 0 -3rem;
        height: 100%;
      }
      &.active{
        display:block;
      }
      &__block{
        margin: 0 3rem;
        width: 58%;
        transition: all .3s linear;
        &.smaller{
          width: 42%;
        }
      }
      &__bottom{
        max-height: 49%;
        height: 100%;
        margin: 0 auto;
        &__img{
          display: flex;
          justify-content: center;
          height: 64%;
          &>*{
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
  &__block{
    max-height: 100%;
    background: #FFFFFF;
    box-shadow: 0 3rem 5rem -1.5rem rgba(52, 57, 80, 0.1);
    backdrop-filter: blur(2rem);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.green{
      & .new-level__block__icons__item__text>*{
        color: $third;
      }
      & .new-level__block__bottom{
        background: $third;
      }
      & .new-level__block__icons__item__icon::before, & .new-level__block__icons__item__icon::after {
        background: rgba(44, 201, 142, 0.03);
        border: 1px solid rgba(44, 201, 142, 0.02);
      }
    }
    &__top{
      padding: 5.7rem 3rem 2rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    &__bottom{
      background: $secondary;
      padding: 2.1rem 3rem;
      display: flex;
      align-items: center;
      &__img{
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
        flex-shrink: 0;
        & img{
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      &__text{
        &>*{
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.1rem;
          color: #FFFFFF;
        }
      }
    }
    &__icons{
      display: flex;
      padding-bottom: 5.8rem;
      border-bottom: .2rem solid $grey-lighter;
      margin-bottom: 2rem;
      &__item{
        flex-basis: 0;
        flex-grow: 1;
        padding-left: 2.5rem;
        display: flex;
        align-items: center;
        &__icon{
          margin-right: .8rem;
          position: relative;
          width: 2rem;
          height: 2rem;
          &::before, &::after{
            content: "";
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(241, 94, 98, 0.03);
            border: .1rem solid rgba(241, 94, 98, 0.02);
            border-radius: 50%;
          }
          &::before{
            width: 5rem;
            height: 5rem;
          }
          &::after{
            width: 7rem;
            height: 7rem;
          }
        }
        &__text{
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.5rem;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $secondary;
        }
      }
    }
    &__list{
      overflow-y: auto;
      &>ul {
        columns:2;
        &>li{
          margin-left: 3.5rem;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.1rem;
          position: relative;
          &:not(:last-child){
            margin-bottom: 1.8rem;
          }
          &::before{
            content: "";
            position: absolute;
            left: -1.4rem;
            transform: translateX(-100%);
            height: 2.1rem;
            top: 0;
            width: 2.1rem;
            background: url('../static/app/img/ico_turn-down.svg');
          }
        }
      }
    }
  }
  &__tooltips{
    &__tip{
      position: absolute;
      width: 30rem;
      height: 17rem;
      background: #ffffff;
      border: 2px solid #4E5575;
      right: 1.3rem;
      top: 1.3rem;
      transform: translateX(100%);
      z-index: 4;
      opacity: 0;
      visibility: hidden;
      transition: all .3s linear;
    }
  }
  &__lottie{
    margin: 0 auto;
  }
  & .tooltip:hover {
    z-index: 10;
    .new-level__tooltips__tip {
      opacity: 1;
      visibility: visible;
    }
  }
}

#new-level_director2{
  height: 100%;
  padding-top: 1.2rem;
}

@media (max-width: 768px) {
  .new-level {
    &__block{
      &__icons{
        flex-wrap: wrap;
        padding-bottom: 3rem;
        &__item{
          flex-basis: unset;
          flex-grow: unset;
          min-width: 50%;
          margin-bottom: 6rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__list{
        & ul{
          columns: 1;
        }
      }
    }
  }
}


@media (max-height: 666px) {
  .new-level {
    &__block{
      &__icons{
        padding-bottom: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}
@media (max-height: 424px) {
  .new-level {
    &__tabs__tab__bottom__img{
      height: 45%;
    }
  }
}

