@import "../../develop/app/pallete.scss";

.biplane-blocks {
  height: unset!important;
  &__container{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__row{
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s linear;
    &__image{
      width: 5rem;
      height: 5rem;
    }
  }
  &__block{
    &:not(&:nth-child(2)) {
      flex-basis: 0;
      flex-grow: 1;
    }
    &:nth-child(2){
      flex-shrink: 0;
      width: max-content;
    }
    &__inner{
      position: relative;
      z-index: 1;
      padding: 1.4rem 1rem 1rem;
      background: #fff;
      box-shadow: 0 3rem 5rem -1.5rem rgba(52, 57, 80, 0.1);
      backdrop-filter: blur(2rem);
      border-radius: 1rem;
      & .section-title{
        margin-bottom: 1.4rem;
        text-align: center;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          left: 50%;
          top: -1rem;
          transform: translate(-50%,-100%);
          height: .4rem;
          width: 6rem;
          background: #7871C2;
          border-radius: 0 0 .5rem .5rem;
        }
      }
      & .section-text{
        margin-bottom: 0;
      }
      &>*:not(:last-child){
        margin-bottom: .8rem;
      }
    }
    &__item{
      min-height: 5.5rem;
      background: $grey-lighter;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 1rem;
      & .section-text:not(:last-child){
        padding-top: 1.4rem;
      }
      &__images{
        display: flex;
        padding: 1rem 1rem 0;
        justify-content: space-around;
        align-items: flex-end;
        width: 100%;
        &>*{
          max-width: 11.7rem;
          max-height: 8.8rem;
          width: max-content;
          height: max-content;
          object-fit: contain;
          object-position: bottom;
        }
      }
      &>img, &>svg{
        width: 3rem;
        height: 3rem;
        margin: 0 6.2rem 1.4rem;
      }
    }
    &__text{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding-bottom: 1rem;
      &>*{
        padding: 1.9rem 0 2.1rem;
        position: relative;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.3rem;
        &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100vw;
          height: .2rem;
          background: #EEEDF8;
        }
      }
    }
    &__container{
      display: flex;
      margin: 0 -.2rem;
      &>*{
        margin: 0 .2rem;
        padding: 1rem .3rem;
        flex-basis: 0;
        flex-grow: 1;
        &>p{
          max-width: 12.8rem;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.8rem;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 666px) {
  .biplane-blocks {

  }
}

