<section class="biplane-blocks section">
    <div class="section-header">
        <p>Цифровой аффинажный завод по очистке и добыче только нужных и важных данных из всех источников которые существуют в Вашем бизнесе</p>
    </div>
    <div class="wrapper">

        <div class="biplane-blocks__container">
            <div class="biplane-blocks__row">
                <div class="biplane-blocks__block">
                    <div class="biplane-blocks__block__text">
                        <p>Конструктор визуализации данных</p>
                        <p>Обогащение и очистка данных</p>
                        <p>Накопление и хранение данных</p>
                    </div>
                </div>
                <div class="biplane-blocks__block">
                    <div class="biplane-blocks__block__inner">
                        <div class="section-title">
                            <h2>Biplane24</h2>
                        </div>
                        <div class="biplane-blocks__block__item">
                            <div class="section-text">
                                <p>Визуализатор</p>
                            </div>
                            <div class="biplane-blocks__block__item__images">
                                <img src="/static/app/img/biplane-blocks_img1.png">
                                <img src="/static/app/img/biplane-blocks_img2.png">
                                <img src="/static/app/img/biplane-blocks_img3.png">
                            </div>
                        </div>
                        <div class="biplane-blocks__block__item">
                            <div class="section-text">
                                <p>Аффинажный цифровой завод + проецированию двойника бизнеса </p>
                            </div>
                        </div>
                        <div class="biplane-blocks__block__item">
                            <div class="section-text">
                                <p>BIG-DATA – База данных по всем показателям за все периоды</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="biplane-blocks__block">
                </div>
            </div>
            <div class="biplane-blocks__row">
                <div class="biplane-blocks__row__image">
                    <img src="/static/app/img/ico_database-report.svg">
                </div>
            </div>
            <div class="biplane-blocks__row">
                <div class="biplane-blocks__block">
                    <div class="biplane-blocks__block__text">
                        <p>Добыча данных</p>
                    </div>
                </div>
                <div class="biplane-blocks__block">
                    <div class="biplane-blocks__block__inner">
                        <div class="section-text">
                            <h2>BIG-DATA – База данных по всем показателям за все периоды</h2>
                        </div>
                        <div class="biplane-blocks__block__container">
                            <div class="biplane-blocks__block__item">
                                <p>Учетные системы: 1С, ERP, MES Бухгалтерия</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <p>CRM-системы</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <p>Excel-файлы</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <p>Планы по подразделениям</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <p>Открытые источники данных: сайты, порталы</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <p>Базы данных: СКУД, оборудование, личные кабинеты</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="biplane-blocks__block">
                </div>
            </div>
            <div class="biplane-blocks__row">
                <div class="biplane-blocks__row__image">
                    <img src="/static/app/img/ico_database-report.svg">
                </div>
            </div>
            <div class="biplane-blocks__row">
                <div class="biplane-blocks__block">
                    <div class="biplane-blocks__block__text">
                        <p>Место рождения данных</p>
                    </div>
                </div>
                <div class="biplane-blocks__block">
                    <div class="biplane-blocks__block__inner">
                        <div class="section-text">
                            <h2>Уровень бизнес-процессов</h2>
                        </div>
                        <div class="biplane-blocks__block__container">
                            <div class="biplane-blocks__block__item">
                                <img src="/static/app/img/ico_business-report.svg">
                                <p>Поставщик</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <img src="/static/app/img/ico_business-report.svg">
                                <p>Склад сырья</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <img src="/static/app/img/ico_business-report.svg">
                                <p>Производство</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <img src="/static/app/img/ico_business-report.svg">
                                <p>Склад продукции</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <img src="/static/app/img/ico_business-report.svg">
                                <p>Клиент</p>
                            </div>
                            <div class="biplane-blocks__block__item">
                                <img src="/static/app/img/ico_business-report.svg">
                                <p>р/с Компании</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="biplane-blocks__block">
                </div>
            </div>
        </div>
    </div>
</section>
