<section class="analysis section">
    <div class="wrapper">
        <div class="analysis__container">
            <div class="analysis__col">
                <div class="analysis__block">
                    <div class="section-title">
                        <h2>Перейдите на новый - цифровой уровень</h2>
                    </div>
                    <div class="analysis__subtitle">
                        <p>Пример списка показателей:</p>
                    </div>
                    <div class="analysis__block__inner">
                        <div class="analysis__subtitle__line"></div>
                        <div class="analysis__slider">
                            <div data-title="Маркетинг">
                                <div class="analysis__subtitle">
                                    <img src="/static/app/img/megaphone.svg">
                                    <p>Маркетинг</p>
                                </div>
                                <div class="analysis__tags">
                                    <p>Расходы на продвижение: СЕО, контекст, таргетинг</p>
                                    <p>Расходы на стратегию развития</p>
                                    <p>Посетителей сайта (показов/переходов)</p>
                                    <p>Подписчиков в группах</p>
                                    <p>Заказы с сайта</p>
                                    <p>Акции</p>
                                    <p>Цены конкурентов</p>
                                </div>
                            </div>
                            <div data-title="Финансы">
                                <div class="analysis__subtitle">
                                    <img src="/static/app/img/megaphone.svg">
                                    <p>Финансы</p>
                                </div>
                                <div class="analysis__tags">
                                    <p>Расходы на продвижение: СЕО, контекст, таргетинг</p>
                                    <p>Расходы на стратегию развития</p>
                                    <p>Посетителей сайта (показов/переходов)</p>
                                    <p>Подписчиков в группах</p>
                                    <p>Заказы с сайта</p>
                                    <p>Акции</p>
                                    <p>Цены конкурентов</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="analysis__slider__nav">
                        <div class="analysis__slider__pagination">

                        </div>
                        <div class="analysis__slider__arrows">
                            <div class="analysis__slider__arrows__arrow left">
                                <img src="/static/app/img/ico_slider_right.png">
                            </div>
                            <div class="analysis__slider__arrows__arrow right">
                                <img src="/static/app/img/ico_slider_right.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analysis__block">
                    <div class="analysis__subtitle">
                        <p>Пример списка показателей:</p>
                    </div>
                    <div class="analysis__block__inner">
                        <div class="check-list two_col" id="check-list1">
                            <ul>
                                <li>Секунды/минуты/часы/дни/недели/ месяца/кварталы/года</li>
                                <li>План/факт</li>
                                <li>Места хранений (склады/цеха)</li>
                                <li>Подразделения (службы/отделы)</li>
                                <li>Юридические лица</li>
                                <li>Контрагенты (покупатели/поставщики)</li>
                                <li>Договора</li>
                                <li>Статьи затрат</li>
                                <li>Статьи движения денег</li>
                                <li>Закупаемая номенклатура</li>
                                <li>Готовая продукция / услуги</li>
                                <li>Торговые марки/ виды / категории номенклатуры</li>
                                <li>Основные средства (имущество)</li>
                                <li>Сотрудники</li>
                                <li>Маршруты</li>
                                <li>Ответственные</li>
                                <li>Задачи</li>
                                <li>Кассы/банковские счета</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="analysis__col smaller">
                <div class="analysis__block">
                    <div class="analysis__block__inner">
                        <div class="section-title">
                            <h2>Дашборды</h2>
                        </div>
                        <div class="analysis__subtitle">
                            <p>Пример тематических аналитических досок:</p>
                        </div>
                        <div class="check-list overflow" id="check-list2">
                            <ul>
                                <li>Секунды/минуты/часы/дни/недели/ месяца/кварталы/года</li>
                                <li>План/факт</li>
                                <li>Места хранений (склады/цеха)</li>
                                <li>Подразделения (службы/отделы)</li>
                                <li>Юридические лица</li>
                                <li>Контрагенты (покупатели/поставщики)</li>
                                <li>Договора</li>
                                <li>Статьи затрат</li>
                                <li>Статьи движения денег</li>
                                <li>Закупаемая номенклатура</li>
                                <li>Готовая продукция / услуги</li>
                                <li>Торговые марки/ виды / категории номенклатуры</li>
                                <li>Основные средства (имущество)</li>
                                <li>Сотрудники</li>
                                <li>Маршруты</li>
                                <li>Ответственные</li>
                                <li>Задачи</li>
                                <li>Кассы/банковские счета</li>
                                <li>Договора</li>
                                <li>Статьи затрат</li>
                                <li>Статьи движения денег</li>
                                <li>Закупаемая номенклатура</li>
                                <li>Готовая продукция / услуги</li>
                                <li>Торговые марки/ виды / категории номенклатуры</li>
                                <li>Основные средства (имущество)</li>
                                <li>Сотрудники</li>
                                <li>Маршруты</li>
                                <li>Ответственные</li>
                                <li>Задачи</li>
                                <li>Кассы/банковские счета</li>
                                <li>Задачи</li>
                                <li>Кассы/банковские счета</li>
                                <li>Договора</li>
                                <li>Статьи затрат</li>
                                <li>Статьи движения денег</li>
                                <li>Закупаемая номенклатура</li>
                                <li>Готовая продукция / услуги</li>
                                <li>Торговые марки/ виды / категории номенклатуры</li>
                                <li>Основные средства (имущество)</li>
                                <li>Сотрудники</li>
                                <li>Маршруты</li>
                                <li>Ответственные</li>
                                <li>Задачи</li>
                                <li>Кассы/банковские счета</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
