@import "../../develop/app/pallete.scss";

.analysis {
  &__subtitle{
    display: flex;
    align-items: center;
    position: relative;
    &>img, &>svg{
      margin-right: 1rem;
      width: 6rem;
      height: 6rem;
      margin-bottom: 0!important;
      &+*{
        margin-bottom: 0!important;
      }
    }
    &>*{
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
    &__line{
      position: absolute;
      top: 1.4rem;
      left: 0;
      width: .4rem;
      background: #7871C2;
      border-radius: 0 .5rem .5rem 0;
      height: 6rem;
    }
  }
  &__container{
    padding: 1rem 0;
    display: flex;
    height: 100%;
    margin: 0 -1.5rem;
  }
  &__col{
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 1.5rem;
    max-width: 53%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    &.smaller{
      max-width: 47%;
    }
    &>*:not(:last-child){
      margin-bottom: 3rem;
      flex-shrink: 0;
    }
  }
  &__block{
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &>.section-title{
      padding-top: 2rem;
      margin-bottom: 3rem;
    }
    &>.analysis__subtitle>*{
      margin-bottom: 1.6rem;
    }
    &__inner{
      overflow: hidden;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      padding: 1.4rem 3rem 1.6rem;
      background: #fff;
      box-shadow: 0 3rem 5rem -1.5rem rgba(52, 57, 80, 0.1);
      backdrop-filter: blur(2rem);
      border-radius: 1rem;
      position: relative;
      &>.section-title{
        margin-bottom: 5rem;
      }
      &>.analysis__subtitle>*{
        margin-bottom: 3rem;
      }
    }
  }
  &__tags{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.6rem;
    &>*{
      margin-bottom: .8rem;
      padding: .6rem 1rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.8rem;
      border-radius: 5rem;
      background: $grey-lighter;
      margin-right: 1rem;
    }
  }
  &__slider{
    width: 100%;
    &__nav{
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      align-items: center;
    }
    &__pagination{
      & .slick-dots{
        position: static;
        & li, & button{
          height: unset;
          width: unset;
          padding: 0;
        }
        & li {
          margin-right: 1rem;
          &.slick-active {
            & * {
              color: $grey2;
            }
          }
        }
        & *{
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.5rem;
          text-transform: uppercase;
          color: #D3D1EB;
        }
      }
    }
    &__arrows{
      display: flex;
      &__arrow{
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $grey-lighter;
        border-radius: 50%;
        &:first-child{
          margin-right: 1.6rem;
        }
        &>*{
          width: 1.8rem;
        }
        &.slick-disabled{
          opacity: .3;
        }
        &:not(.slick-disabled){
          cursor: pointer;
        }
        &.left{
          &>*{
            transform: scale(-1, 1);
          }
        }
      }
    }
  }
}

@media (max-height: 430px) {
  .analysis {
    height: unset!important;
    &__container{
      max-height: 86.5rem;
    }
  }
}
@media (max-height: 366px) {
  .analysis {
    &__block{
      overflow: unset;
    }
  }
}

