<section class="promo section">
    <div class="section-header">
        <p>Аналитическая система оцифровки, анализа и контроля всех показателям бизнеса. Цифровой двойник бизнеса.</p>
    </div>
    <div class="wrapper promo__wrapper">
        <div class="promo__lottie" data-lottie-name="promo">

        </div>
        <div class="promo__tooltips">
            <svg width="1401" height="968" viewBox="0 0 1401 968" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="tooltip_btn" id="promo_tip6">
                    <g opacity="0.8" fill="#F15E62">
                        <circle cx="1000" cy="716" r="11" fill="#F15E62" fill-opacity="0.3"></circle>
                    </g>
                    <g>
                        <circle cx="1000" cy="716" r="12.5" stroke="#F15E62" stroke-width="1" fill="none" stroke-opacity="0.2"></circle>
                    </g>
                    <circle opacity="0.8" r="4" fill="#F15E62" cx="1000" cy="716"></circle>
                </g>
                <g id="promo_tip5">
                    <g opacity="0.8" fill="#F15E62">
                        <circle cx="253" cy="660" r="11" fill="#F15E62" fill-opacity="0.3"></circle>
                    </g>
                    <g>
                        <circle cx="253" cy="660" r="12.5" stroke="#F15E62" stroke-width="1" fill="none" stroke-opacity="0.2"></circle>
                    </g>
                    <circle opacity="0.8" r="4" fill="#F15E62" cx="253" cy="660"></circle>
                </g>
                <g id="promo_tip4">
                    <g opacity="0.8" fill="#F15E62">
                        <circle cx="566" cy="424" r="11" fill="#F15E62" fill-opacity="0.3"></circle>
                    </g>
                    <g>
                        <circle cx="566" cy="424" r="12.5" stroke="#F15E62" stroke-width="1" fill="none" stroke-opacity="0.2"></circle>
                    </g>
                    <circle opacity="0.8" r="4" fill="#F15E62" cx="566" cy="424"></circle>
                </g>
                <g id="promo_tip3">
                <g opacity="0.8" fill="#F15E62">
                    <circle cx="1100" cy="440" r="11" fill="#F15E62" fill-opacity="0.3"/>
                </g>
                <g>
                    <circle cx="1100" cy="440" r="12.5" stroke="#F15E62" stroke-width="1" fill="none" stroke-opacity="0.2"/>
                </g>
                <circle opacity="0.8" cx="1100" cy="440" r="4" fill="#F15E62"/>
                </g>
                <g id="promo_tip2">
                <g opacity="0.8" fill="#F15E62">
                    <circle cx="1070" cy="209" r="11" fill="#F15E62" fill-opacity="0.3"/>
                </g>
                <g>
                    <circle cx="1070" cy="209" r="12.5" stroke="#F15E62" stroke-width="1" fill="none" stroke-opacity="0.2"/>
                </g>
                <circle opacity="0.8" cx="1070" cy="209" r="4" fill="#F15E62"/>
                </g>
                <g id="promo_tip1">
                <g opacity="0.8" fill="#F15E62">
                    <circle cx="434" cy="230" r="11" fill="#F15E62" fill-opacity="0.3"/>
                </g>
                <g>
                    <circle cx="434" cy="230" r="12.5" stroke="#F15E62" stroke-width="1" fill="none" stroke-opacity="0.2"/>
                </g>
                <circle opacity="0.8" cx="434" cy="230" r="4" fill="#F15E62"/>
                </g>
            </svg>
            <div class="promo__tooltips__tooltip" data-tooltip="promo_tip1">

            </div>
            <div class="promo__tooltips__tooltip" data-tooltip="promo_tip2">

            </div>
            <div class="promo__tooltips__tooltip" data-tooltip="promo_tip3">

            </div>
            <div class="promo__tooltips__tooltip" data-tooltip="promo_tip4">

            </div>
            <div class="promo__tooltips__tooltip" data-tooltip="promo_tip5">

            </div>
            <div class="promo__tooltips__tooltip" data-tooltip="promo_tip6">

            </div>
        </div>
    </div>
</section>
