@import "../../develop/app/pallete.scss";

.promo {
  &__wrapper{
    max-width: unset;
    position: relative;
  }
  &__lottie{
    height: 100%;
    display: flex;
    align-items: center;
    &>*{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__tooltips{
    position: absolute;
    top: 0;
    left: 16px;
    bottom: 0;
    right: 16px;
    &>svg {
      width: 100%;
      height: 100%;
      & > g {
        cursor: pointer;
        & > circle {
          r: 4px;
        }
        & > div {
          position: absolute;
          top: 0;
        }
        & > g {
          &:first-child {
            & > circle {
              r: 14px;
              transition: all 1s;
              animation: pulse 2s infinite;
            }
          }
          &:last-child {
            & > circle {
              r: 12px;
            }
          }
        }
      }
    }
    &__tooltip{
      position: absolute;
      width: 50rem;
      height: 50rem;
      background: $grey-lighter;
      border-radius: 50%;
      border: .15rem solid #7a7a7a;
      display: none;
      transform: translate(-50%, -50%);
    }
  }
}


@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 0 $secondary);
  }

  50% {
    filter: drop-shadow(0 0 10px $secondary);
  }

  100% {
    filter: drop-shadow(0 0 0 $secondary);
  }
}


@media (max-width: 666px) {
  .promo {

  }
}

