@import "pallete.scss";

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
  $filepath: "/static/fonts/" + $file;
  @font-face {
    font-family: quote($style-name);
    src: url($filepath + ".woff") format('woff'),
    url($filepath + ".wof2")  format('woff2'),
    url($filepath + ".ttf")  format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Roboto', 'Robotothin', 100, normal);
@include font-face('Roboto', 'Robotolight', 300, normal);
@include font-face('Roboto', 'Roboto', normal, normal);
@include font-face('Roboto', 'Robotomedium', 500, normal);
@include font-face('Roboto', 'Robotobold', bold, normal);
@include font-face('Roboto', 'Robotoblack', 900, normal);


html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: $text;
  background: #fff;
}

.app {
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 112%;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 150%;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
}

h6 {
  font-size: 1.6rem;
  font-weight: 600;
}

.wrapper{
  max-width: 120.2rem;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.section-title{
  margin-bottom: 2.4rem;
  &>* {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: $black;
  }
}

.section-subtitle{
  margin-bottom: 6rem;
  &>* {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $text;
  }
}

.forms{
  padding: 10rem 0;
  &__block{
    &:not(:last-child){
      margin-bottom: 7rem;
    }
    &__title{
      margin-bottom: 4rem;
      &>*{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        color: $black;
      }
    }
    &__rows{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.5rem;
      &__item{
        margin: 0 1.5rem;
        width: calc((100% / 3) - 3rem);
        &:not(:nth-last-child(-n + 3)){
          margin-bottom: 4rem;
        }
        &.double{
          display: flex;
          &>*{
            width: 100%;
            margin: 0;
            &:not(:last-child) {
              margin-right: 3rem;
            }
          }
        }
        &.center{
          width: calc(100% - 3rem);
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  &__success{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $success-light;
    border-radius: .4rem;
    padding: 2.5rem 0;
    & img, & svg{
      width: 3rem;
      height: 3rem;
      object-fit: contain;
      margin-right: 1rem;
    }
    & *{
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $success;
    }
  }
}
@media (max-width: 666px) {
  .forms{
    &__block{
      &__rows{
        &__item{
          width: calc(100% - 3.2rem);
          &:nth-last-child(-n + 3):not(:last-child){
            margin-bottom: 4rem;
          }
          &>*{
            margin-bottom: 0!important;
          }
        }
      }
    }
  }
}


img{
  width: 100%;
}

@media (max-width: 991px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 666px) {
  html {
    font-size: 10px;
  }
}
