$primary: #6A89CC;
$primary-light: #ABC4ED;
$primary-lighter: #F3F6FC;
$primary-lightest: #FCFDFF;

$black: #2C3E50;
$text: #808B96;
$text-light: #D2D8E0;

$input-line: #E6EDFA;

$error: #E74C3C;
$error-light: #dc786d;

$success: #6AB04C;
$success-light: #F8FDF4;

$transition: all .3s linear;