@import "../../develop/app/pallete.scss";

.tabs {
  & .wrapper {
    padding-top: 3rem;
    padding-bottom: 2.3rem;
  }
  & .section-title{
    margin-bottom: 3rem;
    text-align: center;
  }
  &__container{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  &__sidebar{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 2rem 0;
    background: #fff;
    box-shadow: 0 3rem 5rem -1.5rem rgba(52, 57, 80, 0.1);
    backdrop-filter: blur(2rem);
    border-radius: 1rem 0 0 1rem;
    width: 34%;
    overflow-y: auto;
    &__item{
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 3rem;
      opacity: .4;
      cursor: pointer;
      transition: opacity .3s linear;
      &.active{
        opacity: 1;
        cursor: default;
      }
      &:not(:last-child){
        margin-bottom: 1.8rem;
      }
      &__ico{
        width: 6rem;
        height: 6rem;
        background: $grey-lighter;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        flex-shrink: 0;
        &>*{
          width: 4rem;
          height: 4rem;
        }
      }
      &__text{
        &>*{
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 2.3rem;
          color: $primary;
        }
      }
    }
  }
  &__content{
    background: $grey-lighter;
    border-radius: 0 1rem 1rem 0;
    width: 66%;
    padding: 3rem 4rem;
    &__tab{
      width: 100%;
      height: 100%;
      display: none;
      &.active{
        display: block;
      }
    }
    &__title{
      margin-bottom: 2rem;
      &>*{
        max-width: 67rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.3rem;
        text-align: center;
      }
      & span{
        color: $primary-light;
      }
    }
  }
}

@media (max-width: 666px) {
  .tabs {

  }
}

