<section class="tabs section">
    <div class="wrapper">
        <div class="section-title">
            <h2>Перейдите на новый - цифровой уровень</h2>
        </div>
        <div class="tabs__container">
            <div class="tabs__sidebar" id="tabs_sidebar">
                <div class="tabs__sidebar__item active" data-tab="0">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs1.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Добыча, очистка, хранение, анализ, прогнозирование</p>
                    </div>
                </div>
                <div class="tabs__sidebar__item" data-tab="1">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs2.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Ежедневный контроль показателей, KPI, выполнения плана</p>
                    </div>
                </div>
                <div class="tabs__sidebar__item" data-tab="2">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs3.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Контроль процесса автоматизации и оцифровки бизнеса до необходимого уровня</p>
                    </div>
                </div>
                <div class="tabs__sidebar__item" data-tab="3">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs4.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Информационный портал для получения профильной и отраслевой аналитической информации</p>
                    </div>
                </div>
                <div class="tabs__sidebar__item" data-tab="4">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs5.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Обучающий аналитический портал</p>
                    </div>
                </div>
                <div class="tabs__sidebar__item" data-tab="5">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs6.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Проверка гипотез и предположений</p>
                    </div>
                </div>
                <div class="tabs__sidebar__item" data-tab="6">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs7.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Проведение предметных тематических планерок и совещаний</p>
                    </div>
                </div>
                <div class="tabs__sidebar__item" data-tab="7">
                    <div class="tabs__sidebar__item__ico">
                        <img src="/static/app/img/ico_tabs8.svg">
                    </div>
                    <div class="tabs__sidebar__item__text">
                        <p>Автоматический расчет мотиваций, бонусов и премий</p>
                    </div>
                </div>
            </div>
            <div class="tabs__content">
                <div class="tabs__content__tab active" data-tab="0">
                    <div class="tabs__content__title">
                        <p>Программа <span>Biplane24</span> – Ваш помощник, который ежедневно: добудет, очистит, сохранит, сформирует отчеты, визуализирует показатели, проанализирует данные подразделений Компании</p>
                    </div>
                    <div class="fast__blocks three_blocks">
                        <div class="fast__blocks__block">
                            <div class="fast__blocks__img">
                                <img src="/static/app/img/ico_lightbulb_black.svg">
                            </div>
                            <div class="fast__blocks__text">
                                <p>Анализ данных</p>
                            </div>
                        </div>
                        <div class="fast__blocks__block">
                            <div class="fast__blocks__img">
                                <img src="/static/app/img/ico_road-signal_black.svg">
                            </div>
                            <div class="fast__blocks__text">
                                <p>Прогноз, контроль выполнения планов, KPI</p>
                            </div>
                        </div>
                        <div class="fast__blocks__block">
                            <div class="fast__blocks__img">
                                <img src="/static/app/img/ico_business-presentation_black.svg">
                            </div>
                            <div class="fast__blocks__text">
                                <p>Визуализация данных</p>
                            </div>
                        </div>
                        <div class="fast__blocks__block">
                            <div class="fast__blocks__img">
                                <img src="/static/app/img/ico_wand_black.svg">
                            </div>
                            <div class="fast__blocks__text">
                                <p>Конструктор отчетов</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__content__tab" data-tab="1">
                    <div class="tabs__content__title">
                        <p>Ежедневно контролируйте все показатели Компании с помощью одной платформы</p>
                    </div>
                </div>
                <div class="tabs__content__tab" data-tab="2">
                    <div class="tabs__content__title">
                        <p>Используйте предустановленные компетенции программы для увеличения количества точек роста бизнеса</p>
                    </div>
                </div>
                <div class="tabs__content__tab" data-tab="3">
                    <div class="tabs__content__title">
                        <p>Используйте предустановленные компетенции программы для увеличения количества точек роста бизнеса</p>
                    </div>
                </div>
                <div class="tabs__content__tab" data-tab="4">
                    <div class="tabs__content__title">
                        <p>Используйте программу в обучающих целях: тренинговых центрах, вузах и колледжах</p>
                    </div>
                </div>
                <div class="tabs__content__tab" data-tab="5">
                    <div class="tabs__content__title">
                        <p>Вы найдёте в программе ответы на вопросы, проверите гипотезы и предположения</p>
                    </div>
                </div>
                <div class="tabs__content__tab" data-tab="6">
                    <div class="tabs__content__title">
                        <p>Проводите совещания и планерки быстрее, эффективней с наглядной информацией по показателям бизнеса</p>
                    </div>
                </div>
                <div class="tabs__content__tab" data-tab="7">
                    <div class="tabs__content__title">
                        <p>Один раз настройте расчет мотивации и премий – получите автоматический расчет бонусов по сотрудникам на каждый день</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
