@import "../../develop/app/pallete.scss";

.form-input{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  & label{
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    transition: $transition;
    &.open{
      color: $primary;
    }
  }
  & input{
    height: 3.6rem;
    width: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
    border: none;
    border-bottom: .1rem solid $input-line;
    transition: $transition;
    &::placeholder{
      color: $text-light;
      transition: $transition;
    }
    &:focus{
      border-bottom-color: $primary;
      &~label{
        color: $primary;
      }
    }
  }

  &__date{
    display: flex;
    margin: 0 -1.75rem;
    &__input{
      margin: 0 1.75rem;
    }
  }
  &__dropdown{
    position: relative;
    z-index: 1;
    &>input{
      border-bottom-color: $input-line!important;
      &:focus{
        &::placeholder{
          color: $primary;
        }
        &::after{
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    &.open {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &::after{
      content: "";
      position: absolute;
      right: 0;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url("../static/app/img/ico_dropdown.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      top:50%;
      transform: translateY(-50%) rotate(0deg);
      transition: $transition;
    }
    &__container{
      overflow-y: auto;
      position: absolute;
      bottom: .1rem;
      left: 0;
      right: 0;
      border: .1rem solid $primary-lighter;
      max-height: 25rem;
      background: #ffffff;
      z-index: 2;
      display: none;
      transform: translateY(100%);
    }
    &__list{
      padding: 0 1rem;
      overflow-y: auto;
      &>*{
        cursor: pointer;
        padding: 1rem 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
        transition: $transition;
        &:hover, &.selected{
          color: $black;
        }
      }
    }
  }
  &__error{
    position: absolute;
    bottom: -1rem;
    right: 0;
    text-align: right;
    transform: translateY(100%);
    &>label{
      margin-bottom: 0;
      color: $error;
      &:not(:first-child){
        display: none!important;
      }
    }
  }

  &.error{
    &>label{
      color: $error!important;
    }
    & input{
      color: $error;
      border-bottom-color: $error!important;
      &::placeholder{
        color: $error-light;
      }
    }
  }
  &.checkbox{
    flex-direction: row;
    & input{
      position: absolute;
      z-index: -1;
      opacity: 0;
      width: 0;
      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
      }
      &+label::before {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        flex-grow: 0;
        border: .1rem solid $input-line;
        border-radius: 0.2rem;
        margin-right: 1.4rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1rem;
        cursor: pointer;
      }
      &:checked+label::before {
        background-image: url("../static/app/img/ico_check.png");
      }
    }
    & label{
      color: $text!important;
      & a{
        color: $primary!important;
        text-decoration: underline;
      }
    }
  }
}