
@@if(mod == 'form-input_date'){
  <div class="form-input">
    <div class="form-input__date">
      <div class="form-input__date__input">
        <input type="hidden" id="@@name_day" name="@@name_day" data-validation="@@validation" value="" @@if(isRequired){ required }>
        <div class="form-input__dropdown">
          <input type="text" class="day_input" placeholder="Число" readonly>
          <div class="form-input__dropdown__container">
            <ul class="form-input__dropdown__list">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-input__date__input">
        <input type="hidden" id="@@name_month" name="@@name_month" data-validation="@@validation" value="" @@if(isRequired){ required }>
        <div class="form-input__dropdown">
          <input type="text" class="month_input" placeholder="Месяц" readonly>
          <div class="form-input__dropdown__container">
            <ul class="form-input__dropdown__list">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-input__date__input">
        <input type="hidden" id="@@name_year" name="@@name_year" data-validation="@@validation" value="" @@if(isRequired){ required }>
        <div class="form-input__dropdown">
          <input type="text" class="year_input" placeholder="Год" readonly>
          <div class="form-input__dropdown__container">
            <ul class="form-input__dropdown__list">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <label for="@@name_day">@@label@@if(isRequired){*}</label>
    <div class="form-input__error"></div>
  </div>
}
@@if(mod != 'form-input_date'){
  <div class="form-input @@if(mod != ''){ @@mod } @@if(type == 'checkbox'){ checkbox }">
    <input type="@@type" id="@@name" name="@@name" placeholder="@@placeholder" data-validation="@@validation" @@if(maxlength !=''){ maxlength="@@maxlength" } @@if(minlength !=''){ minlength="@@minlength" } @@if(isRequired){ required }>
    <label for="@@name"><p>@@label</p></label>
    <div class="form-input__error"></div>
  </div>
}


