<section class="fast section">
    <div class="wrapper">
        <div class="new-level__container">
            <div class="section-title">
                <h2>Быстрый, удобный, современный</h2>
            </div>
            <div class="new-level__tabs">
                <div class="new-level__tabs__nav">
                    <div class="new-level__tabs__nav__item active" data-tab="0">
                        <p>Ваш бизнес сейчас</p>
                    </div>
                    <div class="new-level__tabs__nav__item green" data-tab="1">
                        <p>Бизнес с Биплан24</p>
                    </div>
                </div>
                <div class="new-level__tabs__container">
                    <div class="new-level__tabs__tab active" data-tab="0">
                        <div class="fast__container">
                            <div class="fast__container__block img">
                                <img src="/static/app/img/fast_building.png">
                            </div>
                            <div class="fast__container__block lottie">
                                <div id="fast_tab1_lottie">

                                </div>
                            </div>
                            <div class="fast__container__block img">
                                <img src="/static/app/img/fast_director1.png">
                            </div>
                        </div>
                    </div>
                    <div class="new-level__tabs__tab" data-tab="1">
                        <div class="fast__tabs__inner">
                            <div class="fast__blocks">
                                <div class="fast__blocks__block">
                                    <div class="fast__blocks__img">
                                        <img src="/static/app/img/ico_lightbulb_black.svg">
                                    </div>
                                    <div class="fast__blocks__text">
                                        <p>Анализ данных</p>
                                    </div>
                                </div>
                                <div class="fast__blocks__block">
                                    <div class="fast__blocks__img">
                                        <img src="/static/app/img/ico_road-signal_black.svg">
                                    </div>
                                    <div class="fast__blocks__text">
                                        <p>Прогноз, контроль выполнения планов, KPI</p>
                                    </div>
                                </div>
                                <div class="fast__blocks__block">
                                    <div class="fast__blocks__img">
                                        <img src="/static/app/img/ico_business-presentation_black.svg">
                                    </div>
                                    <div class="fast__blocks__text">
                                        <p>Визуализация данных</p>
                                    </div>
                                </div>
                                <div class="fast__blocks__block">
                                    <div class="fast__blocks__img">
                                        <img src="/static/app/img/ico_wand_black.svg">
                                    </div>
                                    <div class="fast__blocks__text">
                                        <p>Конструктор отчетов</p>
                                    </div>
                                </div>
                            </div>
                            <div class="new-level__tabs__tab__inner">
                                <div class="new-level__tabs__tab__block ">
                                    <div class="fast__tabs__container">
                                        <div class="fast__tabs__container__block img">
                                            <img src="/static/app/img/fast_building.png">
                                        </div>
                                        <div class="fast__tabs__container__block lottie">
                                            <div class="fast__tabs__container__block__lottie" id="fast_tab2_lottie">

                                            </div>
                                            <div class="fast__tabs__container__block__text">
                                                <!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     viewBox="0 0 88 533" style="enable-background:new 0 0 88 533;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#4E5575;}
</style>
                                                    <g id="Layer_87">
	<path class="st0" d="M4.8,321.3h5.3v1.6h1.3v-2.9h-0.9V314H9.2v6.1H6.3V314H4.8V321.3z"/>
</g>
                                                    <g id="Layer_86">
	<path class="st0" d="M12.2,316.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H12.2z"/>
</g>
                                                    <g id="Layer_85">
	<path class="st0" d="M20.9,323.8h1.3v-2.5h0.1c0.6,0,1.2-0.1,1.7-0.5c0.4-0.3,0.9-0.9,0.9-2c0-1.1-0.5-1.7-0.9-2
		c-0.6-0.4-1.2-0.5-1.7-0.5h-0.1V314h-1.3v2.5h-0.1c-0.5,0-1.1,0.1-1.7,0.5c-0.4,0.3-0.9,0.9-0.9,2c0,1.1,0.5,1.7,0.9,2
		c0.5,0.3,1.1,0.5,1.7,0.5h0.1V323.8z M20.9,320.2c-0.3,0-0.6-0.1-0.9-0.2c-0.4-0.3-0.5-0.7-0.5-1c0-0.4,0.1-0.8,0.5-1
		c0.3-0.2,0.6-0.2,0.8-0.2V320.2z M22.2,317.7c0.3,0,0.6,0.1,0.8,0.2c0.4,0.3,0.5,0.7,0.5,1c0,0.3-0.1,0.7-0.5,1
		c-0.2,0.2-0.6,0.2-0.9,0.2V317.7z"/>
</g>
                                                    <g id="Layer_84">
	<path class="st0" d="M27.3,320.7c0.5,0.7,1.2,0.8,1.5,0.8c0.7,0,1.3-0.3,1.6-0.6c0.3-0.3,0.7-0.8,0.7-1.9c0-1-0.4-1.5-0.7-1.9
		c-0.5-0.5-1.2-0.6-1.6-0.6c-0.9,0-1.3,0.5-1.6,0.8v-0.6H26v7.3h1.3V320.7z M28.5,317.6c0.3,0,0.7,0.1,0.9,0.3
		c0.3,0.3,0.4,0.6,0.4,1s-0.1,0.7-0.4,1c-0.2,0.2-0.5,0.3-0.9,0.3c-0.4,0-0.7-0.2-0.9-0.3c-0.3-0.2-0.4-0.6-0.4-1
		c0-0.4,0.2-0.8,0.5-1C27.9,317.7,28.2,317.6,28.5,317.6z"/>
</g>
                                                    <g id="Layer_83">
	<path class="st0" d="M34.7,316.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		c0.9,0,1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C36.3,316.7,35.7,316.4,34.7,316.4z M34.7,320.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4s1.3,0.6,1.3,1.4C36.1,319.7,35.5,320.3,34.7,320.3z"/>
</g>
                                                    <g id="Layer_82">
	<path class="st0" d="M38.5,316.6v4.8H41c0.2,0,0.7,0,1.1-0.3c0.2-0.2,0.5-0.5,0.5-1.1c0-0.4-0.2-0.7-0.4-0.9
		c-0.2-0.2-0.4-0.3-0.6-0.3c0.4-0.2,0.7-0.6,0.7-1c0-0.4-0.2-0.7-0.5-0.9c-0.4-0.3-0.8-0.3-1.1-0.3H38.5z M39.9,318.4v-0.8h0.6
		c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.1-0.1,0.3-0.2,0.3c-0.1,0.1-0.3,0.1-0.4,0.1H39.9z M39.9,320.3v-1h0.7
		c0.1,0,0.3,0,0.5,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.4,0.1-0.5,0.1H39.9z"/>
</g>
                                                    <g id="Layer_81">
	<path class="st0" d="M46,316.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		c0.9,0,1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C47.5,316.7,46.9,316.4,46,316.4z M46,320.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4s1.3,0.6,1.3,1.4C47.4,319.7,46.8,320.3,46,320.3z"/>
</g>
                                                    <g id="Layer_80">
	<path class="st0" d="M49.8,316.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H49.8z M53.1,314.2c-0.1,0.5-0.5,0.7-0.9,0.7
		c-0.5,0-0.8-0.3-0.9-0.7l-0.9,0.4c0.3,0.9,1.2,1.1,1.8,1.1s1.5-0.2,1.8-1.1L53.1,314.2z"/>
</g>
                                                    <g id="Layer_79">
	<path class="st0" d="M62.2,317.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		h-1.3V317.2z M61,317.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4c-0.8,0-1.3-0.6-1.3-1.4C59.6,318.2,60.2,317.6,61,317.6z"/>
</g>
                                                    <g id="Layer_78">
	<path class="st0" d="M66.1,320.7c0.5,0.7,1.2,0.8,1.5,0.8c0.7,0,1.3-0.3,1.6-0.6c0.3-0.3,0.7-0.8,0.7-1.9c0-1-0.4-1.5-0.7-1.9
		c-0.5-0.5-1.2-0.6-1.6-0.6c-0.9,0-1.3,0.5-1.6,0.8v-0.6h-1.3v7.3h1.3V320.7z M67.3,317.6c0.3,0,0.7,0.1,0.9,0.3
		c0.3,0.3,0.4,0.6,0.4,1s-0.1,0.7-0.4,1c-0.2,0.2-0.5,0.3-0.9,0.3c-0.4,0-0.7-0.2-0.9-0.3c-0.3-0.2-0.4-0.6-0.4-1
		c0-0.4,0.2-0.8,0.5-1C66.7,317.7,67,317.6,67.3,317.6z"/>
</g>
                                                    <g id="Layer_77">
	<path class="st0" d="M70.3,321.3H72l1.4-1.7l1.4,1.7h1.7l-2.3-2.6l1.9-2.2h-1.7l-1,1.2l-1-1.2h-1.7l1.8,2.2L70.3,321.3z"/>
</g>
                                                    <g id="Layer_76">
	<path class="st0" d="M77,316.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H77z"/>
</g>
                                                    <g id="Layer_75">
	<path class="st0" d="M83.2,316.6v4.8h2.5c0.2,0,0.7,0,1.1-0.3c0.2-0.2,0.5-0.5,0.5-1.1c0-0.4-0.2-0.7-0.4-0.9
		c-0.2-0.2-0.4-0.3-0.6-0.3c0.4-0.2,0.7-0.6,0.7-1c0-0.4-0.2-0.7-0.5-0.9c-0.4-0.3-0.8-0.3-1.1-0.3H83.2z M84.5,318.4v-0.8h0.6
		c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.1-0.1,0.3-0.2,0.3c-0.1,0.1-0.3,0.1-0.4,0.1H84.5z M84.5,320.3v-1h0.7
		c0.1,0,0.3,0,0.5,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.4,0.1-0.5,0.1H84.5z"/>
</g>
                                                    <g id="Layer_74">
	<path class="st0" d="M5.1,330.6v1.8c0,0.5-0.1,0.9-0.2,1.2c-0.1,0.3-0.4,0.6-0.8,0.6v2.5h1.2v-1.4h3.3v1.4h1.2v-2.5H9v-3.6H5.1z
		 M7.7,334.2H5.8c0.4-0.3,0.5-0.8,0.5-1.4v-1.1h1.4V334.2z"/>
</g>
                                                    <g id="Layer_73">
	<path class="st0" d="M10.5,330.6v4.8h2.5c0.2,0,0.7,0,1.1-0.3c0.2-0.2,0.5-0.5,0.5-1.1c0-0.4-0.2-0.7-0.4-0.9
		c-0.2-0.2-0.4-0.3-0.6-0.3c0.4-0.2,0.7-0.6,0.7-1c0-0.4-0.2-0.7-0.5-0.9c-0.4-0.3-0.8-0.3-1.1-0.3H10.5z M11.8,332.4v-0.8h0.6
		c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.1-0.1,0.3-0.2,0.3c-0.1,0.1-0.3,0.1-0.4,0.1H11.8z M11.8,334.3v-1h0.7
		c0.1,0,0.3,0,0.5,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.4,0.1-0.5,0.1H11.8z"/>
</g>
                                                    <g id="Layer_72">
	<path class="st0" d="M18,330.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		s1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C19.5,330.7,18.9,330.4,18,330.4z M18,334.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4s1.3,0.6,1.3,1.4C19.3,333.7,18.8,334.3,18,334.3z"/>
</g>
                                                    <g id="Layer_71">
	<path class="st0" d="M21.7,330.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H21.7z M25.1,328.2c-0.1,0.5-0.5,0.7-0.9,0.7
		c-0.5,0-0.8-0.3-0.9-0.7l-0.9,0.4c0.3,0.9,1.2,1.1,1.8,1.1s1.5-0.2,1.8-1.1L25.1,328.2z"/>
</g>
                                                    <g id="Layer_70">
	<path class="st0" d="M27.9,335.3h1.3v-1.9h1.9v1.9h1.3v-4.8h-1.3v1.7h-1.9v-1.7h-1.3V335.3z"/>
</g>
                                                    <g id="Layer_69">
	<path class="st0" d="M33.7,330.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H33.7z"/>
</g>
                                                    <g id="Layer_68">
	<path class="st0" d="M39.9,330.6v4.8h1.3v-1.8l0.2-0.2l1.7,2h1.7l-2.3-2.6l2.2-2.1H43l-1.8,1.8v-1.8H39.9z"/>
</g>
                                                    <g id="Layer_67">
	<path class="st0" d="M49,331.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		H49V331.2z M47.8,331.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4s-1.3-0.6-1.3-1.4C46.5,332.2,47.1,331.6,47.8,331.6z"/>
</g>
                                                    <g id="Layer_66">
	<path class="st0" d="M8.4,341.4c-0.1,0.3-0.4,0.5-1.1,0.7c-0.6,0.1-1.5,0.3-2.1,1.2c-0.4,0.5-0.7,1.4-0.7,3.2
		c0,0.7,0.1,1.7,0.9,2.4c0.6,0.6,1.4,0.6,1.9,0.6c0.8,0,1.4-0.2,1.9-0.7c0.4-0.4,0.8-0.9,0.8-1.9c0-1-0.5-1.6-0.7-1.8
		c-0.5-0.5-1-0.7-1.8-0.7c-0.6,0-1.3,0.2-1.7,0.6h0c0-0.5,0.2-1,0.5-1.2c0.4-0.4,0.9-0.5,1.4-0.6l0.5-0.1c0.3-0.1,1.3-0.4,1.6-1.7
		H8.4z M7.2,348.3c-0.8,0-1.3-0.6-1.3-1.3c0-0.8,0.5-1.4,1.3-1.4s1.3,0.6,1.3,1.4C8.6,347.7,8,348.3,7.2,348.3z"/>
</g>
                                                    <g id="Layer_65">
	<path class="st0" d="M11,344.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H11z"/>
</g>
                                                    <g id="Layer_64">
	<path class="st0" d="M17.6,345.8c0.3-0.3,0.6-0.4,1.1-0.4c0.6,0,0.7,0.2,0.7,0.5c0,0.1,0,0.2-0.2,0.3c-0.1,0.1-0.4,0.1-0.5,0.1
		h-0.5v1h0.6c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.3,0.3,0.3,0.4c0,0.2-0.2,0.5-0.8,0.5c-0.4,0-0.9-0.1-1.3-0.5l-0.7,0.8
		c0.6,0.7,1.5,0.8,2,0.8c0.5,0,1.2-0.1,1.6-0.4c0.3-0.2,0.5-0.5,0.5-1.1c0-0.4-0.2-0.7-0.4-0.9c-0.2-0.1-0.4-0.3-0.6-0.3
		c0.2-0.1,0.7-0.4,0.7-1c0-0.5-0.3-0.8-0.5-1c-0.4-0.3-0.9-0.3-1.3-0.3c-0.7,0-1.2,0.2-1.8,0.6L17.6,345.8z"/>
</g>
                                                    <g id="Layer_63">
	<path class="st0" d="M22,349.3h1.3v-1.9h1.9v1.9h1.3v-4.8h-1.3v1.7h-1.9v-1.7H22V349.3z"/>
</g>
                                                    <g id="Layer_62">
	<path class="st0" d="M31.3,347.8c-0.2,0.4-0.6,0.6-1.1,0.6s-0.8-0.2-1-0.5c-0.2-0.2-0.2-0.5-0.2-0.8h3.6v-0.1
		c0-0.5-0.1-1.2-0.6-1.9c-0.3-0.4-0.9-0.8-1.9-0.8c-0.6,0-1.2,0.1-1.8,0.7c-0.3,0.3-0.7,0.9-0.7,1.9c0,0.7,0.2,1.4,0.7,1.9
		c0.5,0.5,1,0.7,1.8,0.7c1.7,0,2.2-1.1,2.3-1.5L31.3,347.8z M29,346.3c0.1-0.6,0.6-1,1.1-1c0.5,0,1,0.3,1.1,1H29z"/>
</g>
                                                    <g id="Layer_61">
	<path class="st0" d="M37.1,344.7c-0.4-0.2-0.8-0.3-1.3-0.3c-0.5,0-1.1,0.1-1.7,0.6c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.9,0.4,1.5,0.8,1.8
		c0.4,0.4,1.1,0.7,1.8,0.7c0.6,0,1-0.2,1.2-0.3v-1.3c-0.4,0.3-0.8,0.4-1.1,0.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.7,0.5-1.3,1.3-1.3
		c0.5,0,0.8,0.2,1.1,0.4V344.7z"/>
</g>
                                                    <g id="Layer_60">
	<path class="st0" d="M41.8,345.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		h-1.3V345.2z M40.6,345.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4s-1.3-0.6-1.3-1.4C39.3,346.2,39.9,345.6,40.6,345.6z"/>
</g>
                                                    <g id="Layer_59">
	<path class="st0" d="M10.2,169.4c-0.4,0.5-1,0.8-1.7,0.8c-1.2,0-2.5-0.9-2.5-2.5c0-1.4,1-2.6,2.4-2.6c0.3,0,1.1,0.1,1.8,0.8v-1.7
		c-0.7-0.4-1.3-0.5-1.8-0.5c-1.1,0-1.9,0.3-2.7,1c-0.6,0.6-1.2,1.5-1.2,2.9c0,1.1,0.3,2,1.2,2.8c0.6,0.6,1.4,1,2.7,1
		c0.8,0,1.4-0.2,1.8-0.4V169.4z"/>
</g>
                                                    <g id="Layer_58">
	<path class="st0" d="M15.1,163.4c-0.1,0.3-0.4,0.5-1.1,0.7c-0.6,0.1-1.5,0.3-2.1,1.2c-0.4,0.5-0.7,1.4-0.7,3.2
		c0,0.7,0.1,1.7,0.9,2.4c0.6,0.6,1.4,0.6,1.9,0.6c0.8,0,1.4-0.2,1.9-0.7c0.4-0.4,0.8-0.9,0.8-1.9c0-1-0.5-1.6-0.7-1.8
		c-0.5-0.5-1-0.7-1.8-0.7c-0.6,0-1.3,0.2-1.7,0.6h0c0-0.5,0.2-1,0.5-1.2c0.4-0.4,0.9-0.5,1.4-0.6l0.5-0.1c0.3-0.1,1.3-0.4,1.6-1.7
		H15.1z M13.9,170.3c-0.8,0-1.3-0.6-1.3-1.3c0-0.8,0.5-1.4,1.3-1.4c0.8,0,1.3,0.6,1.3,1.4C15.2,169.7,14.6,170.3,13.9,170.3z"/>
</g>
                                                    <g id="Layer_57">
	<path class="st0" d="M20.1,166.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		s1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C21.6,166.7,21,166.4,20.1,166.4z M20.1,170.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4c0.8,0,1.3,0.6,1.3,1.4C21.4,169.7,20.9,170.3,20.1,170.3z"/>
</g>
                                                    <g id="Layer_56">
	<path class="st0" d="M25.2,170.7c0.5,0.7,1.2,0.8,1.5,0.8c0.7,0,1.3-0.3,1.6-0.6c0.3-0.3,0.7-0.8,0.7-1.9c0-1-0.4-1.5-0.7-1.9
		c-0.5-0.5-1.2-0.6-1.6-0.6c-0.9,0-1.3,0.5-1.6,0.8v-0.6h-1.3v7.3h1.3V170.7z M26.4,167.6c0.3,0,0.7,0.1,0.9,0.3
		c0.3,0.3,0.4,0.6,0.4,1s-0.1,0.7-0.4,1c-0.2,0.2-0.5,0.3-0.9,0.3c-0.4,0-0.7-0.2-0.9-0.3c-0.3-0.2-0.4-0.6-0.4-1
		c0-0.4,0.2-0.8,0.5-1C25.8,167.7,26.1,167.6,26.4,167.6z"/>
</g>
                                                    <g id="Layer_55">
	<path class="st0" d="M29.5,172.8l0.8,0.1l1.6-2.9l-1.2-0.1L29.5,172.8z"/>
</g>
                                                    <g id="Layer_54">
	<path class="st0" d="M4.6,180.6v4.8H6v-1.8l0.2-0.2l1.7,2h1.7l-2.3-2.6l2.2-2.1H7.8L6,182.4v-1.8H4.6z"/>
</g>
                                                    <g id="Layer_53">
	<path class="st0" d="M12.5,180.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		s1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C14,180.7,13.4,180.4,12.5,180.4z M12.5,184.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4c0.8,0,1.3,0.6,1.3,1.4C13.9,183.7,13.3,184.3,12.5,184.3z"/>
</g>
                                                    <g id="Layer_52">
	<path class="st0" d="M16.3,185.3h1.3v-1.9h1.9v1.9h1.3v-4.8h-1.3v1.7h-1.9v-1.7h-1.3V185.3z"/>
</g>
                                                    <g id="Layer_51">
	<path class="st0" d="M25.7,180.7c-0.4-0.2-0.8-0.3-1.3-0.3c-0.5,0-1.1,0.1-1.7,0.6c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.9,0.4,1.5,0.8,1.8
		c0.4,0.4,1.1,0.7,1.8,0.7c0.6,0,1-0.2,1.2-0.3v-1.3c-0.4,0.3-0.8,0.4-1.1,0.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.7,0.5-1.3,1.3-1.3
		c0.5,0,0.8,0.2,1.1,0.4V180.7z"/>
</g>
                                                    <g id="Layer_50">
	<path class="st0" d="M29.2,180.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		s1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C30.7,180.7,30.1,180.4,29.2,180.4z M29.2,184.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4s1.3,0.6,1.3,1.4C30.5,183.7,30,184.3,29.2,184.3z"/>
</g>
                                                    <g id="Layer_49">
	<path class="st0" d="M37.2,180.6h-3.8v2.8c0,0.2,0,0.4-0.2,0.6c-0.1,0.1-0.3,0.2-0.5,0.2c-0.1,0-0.1,0-0.2,0v1.1c0.1,0,0.3,0,0.4,0
		c0.8,0,1.2-0.4,1.3-0.5c0.4-0.4,0.5-1,0.5-1.4v-1.7h1.3v3.6h1.3V180.6z"/>
</g>
                                                    <g id="Layer_48">
	<path class="st0" d="M38.5,180.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8H42l-2.2,2.9v-2.9H38.5z"/>
</g>
                                                    <g id="Layer_47">
	<path class="st0" d="M45.1,180.6v1.8c0,0.5-0.1,0.9-0.2,1.2c-0.1,0.3-0.4,0.6-0.8,0.6v2.5h1.2v-1.4h3.3v1.4h1.2v-2.5H49v-3.6H45.1z
		 M47.7,184.2h-1.9c0.4-0.3,0.5-0.8,0.5-1.4v-1.1h1.4V184.2z"/>
</g>
                                                    <g id="Layer_46">
	<path class="st0" d="M54.1,181.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		h-1.3V181.2z M52.9,181.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4s-1.3-0.6-1.3-1.4C51.6,182.2,52.2,181.6,52.9,181.6z"/>
</g>
                                                    <g id="Layer_45">
	<path class="st0" d="M56.7,185.3h4v1.4H62v-2.5h-0.8v-3.6h-1.3v3.6h-1.8v-3.6h-1.3V185.3z"/>
</g>
                                                    <g id="Layer_44">
	<path class="st0" d="M62.7,180.6v4.8H64l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H62.7z"/>
</g>
                                                    <g id="Layer_43">
	<path class="st0" d="M68.4,185.3H70l1.2-1.7h0.2v1.7h1.3v-4.8h-1.9c-0.5,0-1,0-1.5,0.4c-0.3,0.2-0.6,0.6-0.6,1.2
		c0,0.5,0.2,0.8,0.4,1c0.3,0.3,0.7,0.4,0.8,0.4L68.4,185.3z M71.3,182.7h-0.6c-0.1,0-0.3,0-0.5-0.1c-0.1-0.1-0.2-0.2-0.2-0.4
		c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.1,0.5-0.1h0.6V182.7z"/>
</g>
                                                    <g id="Layer_42">
	<path class="st0" d="M73.3,186.8l0.8,0.1l1.6-2.9l-1.2-0.1L73.3,186.8z"/>
</g>
                                                    <g id="Layer_41">
	<path class="st0" d="M7.1,194.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		s1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C8.6,194.7,8,194.4,7.1,194.4z M7.1,198.3c-0.8,0-1.3-0.6-1.3-1.3
		c0-0.7,0.6-1.4,1.3-1.4s1.3,0.6,1.3,1.4C8.5,197.7,7.9,198.3,7.1,198.3z"/>
</g>
                                                    <g id="Layer_40">
	<path class="st0" d="M13.6,199.3h1.3v-4.8h-1.3v2c-0.3,0-0.4,0.1-0.7,0.1c-0.2,0-0.5,0-0.7-0.2c-0.2-0.2-0.2-0.4-0.2-0.5v-1.4h-1.3
		v1.7c0,0.4,0,0.8,0.4,1.1c0.4,0.4,1,0.4,1.3,0.4c0.4,0,0.8,0,1.1-0.1V199.3z"/>
</g>
                                                    <g id="Layer_39">
	<path class="st0" d="M16.2,194.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H16.2z"/>
</g>
                                                    <g id="Layer_38">
	<path class="st0" d="M26,194.7c-0.4-0.2-0.8-0.3-1.3-0.3c-0.5,0-1.1,0.1-1.7,0.6c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.9,0.4,1.5,0.8,1.8
		c0.4,0.4,1.1,0.7,1.8,0.7c0.6,0,1-0.2,1.2-0.3v-1.3c-0.4,0.3-0.8,0.4-1.1,0.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.7,0.5-1.3,1.3-1.3
		c0.5,0,0.8,0.2,1.1,0.4V194.7z"/>
</g>
                                                    <g id="Layer_37">
	<path class="st0" d="M30.6,195.7v-1.1h-4v1.1H28v3.6h1.3v-3.6H30.6z"/>
</g>
                                                    <g id="Layer_36">
	<path class="st0" d="M31.3,194.6v4.8h1.3v-1.8l0.2-0.2l1.7,2h1.7l-2.3-2.6l2.2-2.1h-1.7l-1.8,1.8v-1.8H31.3z"/>
</g>
                                                    <g id="Layer_35">
	<path class="st0" d="M40.5,195.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		h-1.3V195.2z M39.3,195.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4c-0.8,0-1.3-0.6-1.3-1.4C38,196.2,38.5,195.6,39.3,195.6z"/>
</g>
                                                    <g id="Layer_34">
	<path class="st0" d="M46.1,194.6v1.8c0,0.5-0.1,0.9-0.2,1.2c-0.1,0.3-0.4,0.6-0.8,0.6v2.5h1.2v-1.4h3.3v1.4h1.2v-2.5h-0.7v-3.6
		H46.1z M48.7,198.2h-1.9c0.4-0.3,0.5-0.8,0.5-1.4v-1.1h1.4V198.2z"/>
</g>
                                                    <g id="Layer_33">
	<path class="st0" d="M55.2,195.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		h-1.3V195.2z M54,195.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4s-1.3-0.6-1.3-1.4C52.7,196.2,53.2,195.6,54,195.6z"/>
</g>
                                                    <g id="Layer_32">
	<path class="st0" d="M57.8,199.3h1.3v-1.9H61v1.9h1.3v-4.8H61v1.7h-1.9v-1.7h-1.3V199.3z"/>
</g>
                                                    <g id="Layer_31">
	<path class="st0" d="M63.6,199.3H65v-1.9h1.9v1.9h1.3v-4.8h-1.3v1.7H65v-1.7h-1.3V199.3z"/>
</g>
                                                    <g id="Layer_30">
	<path class="st0" d="M69.5,194.6v4.8h2.5c0.3,0,0.7,0,1.1-0.4c0.2-0.2,0.5-0.6,0.5-1.2c0-0.5-0.2-0.8-0.4-1
		c-0.3-0.4-0.8-0.5-1.3-0.5h-1v-1.7H69.5z M70.8,198.3v-1h0.7c0.1,0,0.3,0,0.5,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.2-0.1,0.3-0.2,0.4
		c-0.1,0.1-0.4,0.1-0.5,0.1H70.8z M74,194.6v4.8h1.3v-4.8H74z"/>
</g>
                                                    <g id="Layer_29">
	<path class="st0" d="M76,199.3h1.7l1.4-1.7l1.4,1.7h1.7l-2.3-2.6l1.9-2.2h-1.7l-1,1.2l-1-1.2h-1.7l1.8,2.2L76,199.3z"/>
</g>
                                                    <g id="Layer_28">
	<path class="st0" d="M4.6,208.6v4.8H6l2.2-2.9v2.9h1.3v-4.8H8.2L6,211.5v-2.9H4.6z"/>
</g>
                                                    <g id="Layer_27">
	<path class="st0" d="M11.3,209.8c0.3-0.3,0.6-0.4,1.1-0.4c0.6,0,0.7,0.2,0.7,0.5c0,0.1,0,0.2-0.2,0.3c-0.1,0.1-0.4,0.1-0.5,0.1
		h-0.5v1h0.6c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.3,0.3,0.3,0.4c0,0.2-0.2,0.5-0.8,0.5c-0.4,0-0.9-0.1-1.3-0.5l-0.7,0.8
		c0.6,0.7,1.5,0.8,2,0.8c0.5,0,1.2-0.1,1.6-0.4c0.3-0.2,0.6-0.5,0.6-1.1c0-0.4-0.2-0.7-0.4-0.9c-0.2-0.1-0.4-0.3-0.6-0.3
		c0.2-0.1,0.7-0.4,0.7-1c0-0.5-0.3-0.8-0.5-1c-0.4-0.3-0.9-0.3-1.3-0.3c-0.7,0-1.2,0.2-1.8,0.6L11.3,209.8z"/>
</g>
                                                    <g id="Layer_26">
	<path class="st0" d="M19.5,212.7c0.5,0.7,1.2,0.8,1.5,0.8c0.7,0,1.3-0.3,1.6-0.6c0.3-0.3,0.7-0.8,0.7-1.9c0-1-0.4-1.5-0.7-1.9
		c-0.5-0.5-1.2-0.6-1.6-0.6c-0.9,0-1.3,0.5-1.6,0.8v-0.6h-1.3v7.3h1.3V212.7z M20.7,209.6c0.3,0,0.7,0.1,0.9,0.3
		c0.3,0.3,0.4,0.6,0.4,1s-0.1,0.7-0.4,1c-0.2,0.2-0.5,0.3-0.9,0.3c-0.4,0-0.7-0.2-0.9-0.3c-0.3-0.2-0.4-0.6-0.4-1
		c0-0.4,0.2-0.8,0.5-1C20.1,209.7,20.4,209.6,20.7,209.6z"/>
</g>
                                                    <g id="Layer_25">
	<path class="st0" d="M28.1,209.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		h-1.3V209.2z M26.9,209.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4c-0.8,0-1.3-0.6-1.3-1.4C25.6,210.2,26.2,209.6,26.9,209.6z"
    />
</g>
                                                    <g id="Layer_24">
	<path class="st0" d="M31.2,209.8c0.3-0.3,0.6-0.4,1.1-0.4c0.6,0,0.7,0.2,0.7,0.5c0,0.1,0,0.2-0.2,0.3c-0.1,0.1-0.4,0.1-0.5,0.1
		h-0.5v1h0.6c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.3,0.3,0.3,0.4c0,0.2-0.2,0.5-0.8,0.5c-0.4,0-0.9-0.1-1.3-0.5l-0.7,0.8
		c0.6,0.7,1.5,0.8,2,0.8c0.5,0,1.2-0.1,1.6-0.4c0.3-0.2,0.5-0.5,0.5-1.1c0-0.4-0.2-0.7-0.4-0.9c-0.2-0.1-0.4-0.3-0.6-0.3
		c0.2-0.1,0.7-0.4,0.7-1c0-0.5-0.3-0.8-0.5-1c-0.4-0.3-0.9-0.3-1.3-0.3c-0.7,0-1.2,0.2-1.8,0.6L31.2,209.8z"/>
</g>
                                                    <g id="Layer_23">
	<path class="st0" d="M35.6,213.3h1.3v-1.9h1.9v1.9h1.3v-4.8h-1.3v1.7h-1.9v-1.7h-1.3V213.3z"/>
</g>
                                                    <g id="Layer_22">
	<path class="st0" d="M41.4,208.6v4.8h2.5c0.3,0,0.7,0,1.1-0.4c0.2-0.2,0.5-0.6,0.5-1.2c0-0.5-0.2-0.8-0.4-1
		c-0.3-0.4-0.8-0.5-1.3-0.5h-1v-1.7H41.4z M42.8,212.3v-1h0.7c0.1,0,0.3,0,0.5,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.2-0.1,0.3-0.2,0.4
		c-0.1,0.1-0.4,0.1-0.5,0.1H42.8z M46,208.6v4.8h1.3v-4.8H46z"/>
</g>
                                                    <g id="Layer_21">
	<path class="st0" d="M48,213.3h1.7l1.4-1.7l1.4,1.7h1.7l-2.3-2.6l1.9-2.2h-1.7l-1,1.2l-1-1.2h-1.7l1.8,2.2L48,213.3z"/>
</g>
                                                    <g id="Layer_20">
	<path class="st0" d="M4.6,222.6v4.8H6l2.2-2.9v2.9h1.3v-4.8H8.2L6,225.5v-2.9H4.6z"/>
</g>
                                                    <g id="Layer_19">
	<path class="st0" d="M14.4,222.7c-0.4-0.2-0.8-0.3-1.3-0.3c-0.5,0-1.1,0.1-1.7,0.6c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.9,0.4,1.5,0.8,1.8
		c0.4,0.4,1.1,0.7,1.8,0.7c0.6,0,1-0.2,1.2-0.3v-1.3c-0.4,0.3-0.8,0.4-1.1,0.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.7,0.5-1.3,1.3-1.3
		c0.5,0,0.8,0.2,1.1,0.4V222.7z"/>
</g>
                                                    <g id="Layer_18">
	<path class="st0" d="M19.1,223.7v-1.1h-4v1.1h1.3v3.6h1.3v-3.6H19.1z"/>
</g>
                                                    <g id="Layer_17">
	<path class="st0" d="M22.2,222.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		s1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C23.8,222.7,23.2,222.4,22.2,222.4z M22.2,226.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4c0.8,0,1.3,0.6,1.3,1.4C23.6,225.7,23,226.3,22.2,226.3z"/>
</g>
                                                    <g id="Layer_16">
	<path class="st0" d="M28.7,227.3h1.3v-4.8h-1.3v2c-0.3,0-0.4,0.1-0.7,0.1c-0.2,0-0.5,0-0.7-0.2c-0.2-0.2-0.2-0.4-0.2-0.5v-1.4h-1.3
		v1.7c0,0.4,0,0.8,0.4,1.1c0.4,0.4,1,0.4,1.3,0.4c0.4,0,0.8,0,1.1-0.1V227.3z"/>
</g>
                                                    <g id="Layer_15">
	<path class="st0" d="M31.3,227.3h1.3v-1.9h1.9v1.9h1.3v-4.8h-1.3v1.7h-1.9v-1.7h-1.3V227.3z"/>
</g>
                                                    <g id="Layer_14">
	<path class="st0" d="M37.2,222.6v4.8h1.3l2.2-2.9v2.9h1.3v-4.8h-1.3l-2.2,2.9v-2.9H37.2z"/>
</g>
                                                    <g id="Layer_13">
	<path class="st0" d="M43.3,222.6v4.8h1.3v-1.8l0.2-0.2l1.7,2h1.7l-2.3-2.6l2.2-2.1h-1.7l-1.8,1.8v-1.8H43.3z"/>
</g>
                                                    <g id="Layer_12">
	<path class="st0" d="M51.2,222.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		s1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C52.7,222.7,52.1,222.4,51.2,222.4z M51.2,226.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4s1.3,0.6,1.3,1.4C52.6,225.7,52,226.3,51.2,226.3z"/>
</g>
                                                    <g id="Layer_11">
	<path class="st0" d="M55,222.6v4.8h2.5c0.2,0,0.7,0,1.1-0.3c0.2-0.2,0.5-0.5,0.5-1.1c0-0.4-0.2-0.7-0.4-0.9
		c-0.2-0.2-0.4-0.3-0.6-0.3c0.4-0.2,0.7-0.6,0.7-1c0-0.4-0.2-0.7-0.5-0.9c-0.4-0.3-0.8-0.3-1.1-0.3H55z M56.3,224.4v-0.8h0.6
		c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.1-0.1,0.3-0.2,0.3c-0.1,0.1-0.3,0.1-0.4,0.1H56.3z M56.3,226.3v-1H57
		c0.1,0,0.3,0,0.5,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.4,0.1-0.5,0.1H56.3z"/>
</g>
                                                    <g id="Layer_10">
	<path class="st0" d="M4.6,236.6v4.8H6l2.2-2.9v2.9h1.3v-4.8H8.2L6,239.5v-2.9H4.6z"/>
</g>
                                                    <g id="Layer_9">
	<path class="st0" d="M13.4,236.6v4.8h1.3v-3.6h1.8v3.6h1.3v-4.8H13.4z"/>
</g>
                                                    <g id="Layer_8">
	<path class="st0" d="M20.5,240.7c0.5,0.7,1.2,0.8,1.5,0.8c0.7,0,1.3-0.3,1.6-0.6c0.3-0.3,0.7-0.8,0.7-1.9c0-1-0.4-1.5-0.7-1.9
		c-0.5-0.5-1.2-0.6-1.6-0.6c-0.9,0-1.3,0.5-1.6,0.8v-0.6h-1.3v7.3h1.3V240.7z M21.7,237.6c0.3,0,0.7,0.1,0.9,0.3
		c0.3,0.3,0.4,0.6,0.4,1s-0.1,0.7-0.4,1c-0.2,0.2-0.5,0.3-0.9,0.3c-0.4,0-0.7-0.2-0.9-0.3c-0.3-0.2-0.4-0.6-0.4-1
		c0-0.4,0.2-0.8,0.5-1C21,237.7,21.3,237.6,21.7,237.6z"/>
</g>
                                                    <g id="Layer_7">
	<path class="st0" d="M27.9,236.4c-0.9,0-1.5,0.3-1.9,0.7c-0.5,0.4-0.8,1.1-0.8,1.9c0,0.8,0.3,1.4,0.8,1.9c0.4,0.4,1,0.7,1.9,0.7
		c0.9,0,1.5-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-1.9c0-0.8-0.3-1.4-0.8-1.9C29.4,236.7,28.8,236.4,27.9,236.4z M27.9,240.3
		c-0.8,0-1.3-0.6-1.3-1.3c0-0.7,0.6-1.4,1.3-1.4c0.8,0,1.3,0.6,1.3,1.4C29.3,239.7,28.7,240.3,27.9,240.3z"/>
</g>
                                                    <g id="Layer_6">
	<path class="st0" d="M31.7,241.3H33v-3.6h1.7v-1.1h-3V241.3z"/>
</g>
                                                    <g id="Layer_5">
	<path class="st0" d="M36.8,240.7c0.5,0.7,1.2,0.8,1.5,0.8c0.7,0,1.3-0.3,1.6-0.6c0.3-0.3,0.7-0.8,0.7-1.9c0-1-0.4-1.5-0.7-1.9
		c-0.5-0.5-1.2-0.6-1.6-0.6c-0.9,0-1.3,0.5-1.6,0.8v-0.6h-1.3v7.3h1.3V240.7z M37.9,237.6c0.3,0,0.7,0.1,0.9,0.3
		c0.3,0.3,0.4,0.6,0.4,1s-0.1,0.7-0.4,1c-0.2,0.2-0.5,0.3-0.9,0.3c-0.4,0-0.7-0.2-0.9-0.3c-0.3-0.2-0.4-0.6-0.4-1
		c0-0.4,0.2-0.8,0.5-1C37.3,237.7,37.6,237.6,37.9,237.6z"/>
</g>
                                                    <g id="Layer_4">
	<path class="st0" d="M45.3,237.2c-0.4-0.7-1.2-0.8-1.5-0.8c-1.4,0-2.4,1.1-2.4,2.5s1,2.5,2.4,2.5c0.4,0,1-0.1,1.5-0.8v0.6h1.3v-4.8
		h-1.3V237.2z M44.2,237.6c0.8,0,1.3,0.6,1.3,1.3c0,0.8-0.6,1.4-1.3,1.4c-0.8,0-1.3-0.6-1.3-1.4C42.8,238.2,43.4,237.6,44.2,237.6z"
    />
</g>
                                                    <g id="Layer_3">
	<path class="st0" d="M47.5,241.3h1.3l0.4-2.6l1.2,2.6h0.5l1.2-2.6l0.4,2.6h1.3l-0.9-4.8h-1l-1.3,2.7l-1.3-2.7h-1L47.5,241.3z"/>
</g>
                                                    <g id="Layer_2">
	<path class="st0" d="M54.1,241.3h1.3l0.4-2.6l1.2,2.6h0.5l1.2-2.6l0.4,2.6h1.3l-0.9-4.8h-1l-1.3,2.7l-1.3-2.7h-1L54.1,241.3z"/>
</g>
</svg>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-level__tabs__tab__block smaller">
                                    <div class="new-level__block green">
                                        <div class="new-level__block__bottom">
                                            <div class="new-level__block__bottom__text">
                                                <p>Все данные бизнеса под контролем, много эффективных своевременных решений</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="fast_tab2_director"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
