@import "../../develop/app/pallete.scss";

.fast {
  & .new-level__tabs__tab__block.smaller {
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    &>*:first-child{
      margin-bottom: 1.2rem;
      flex-shrink: 0;
    }
    &>*:last-child{
      overflow: hidden;
    }
  }
  & .new-level__block__bottom__text{
    text-align: center;
  }
  &__container{
    display: flex;
    height: 100%;
    justify-content: center;
    &__block{
      display: flex;
      align-items: center;

      &.lottie{
        width: 31%;
        max-width: 31%;
        overflow: visible;
        &>*{
          transform: translateX(-10%) scale(1.3);
        }
      }
      &.img{
        flex-shrink: 0;
        &:first-child{
          width: 37%;
        }
        &:last-child{
          width: 32%;
        }
        &>*{
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &__blocks{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem 4rem;
    &.three_blocks{
      margin: 0 -.5rem;
      & .fast__blocks__block{
        margin: 0 .5rem 1rem;
        width: calc(100% / 3 - 1rem);
      }
    }
    &__block{
      margin: 0 1.5rem;
      background: #FFFFFF;
      box-shadow: 0 3rem 5rem -1.5rem rgba(52, 57, 80, 0.1);
      backdrop-filter: blur(2rem);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      padding: 1rem;
      width: calc(100% / 4 - 3rem);
    }
    &__img{
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $grey-lighter;
      border-radius: 1rem;
      margin-right: 1.4rem;
      flex-shrink: 0;
      &>*{
        width: 4rem;
        height: 4rem;
        object-fit: contain;
      }
    }
  }
  &__tabs{
    &__inner{
      display: flex;
      flex-direction: column;
      height: 100%;
      & .new-level__tabs__tab__inner{
        height: auto;
        overflow: hidden;
      }
    }
    &__container{
      display: flex;
      height: 100%;
      &__block{
        &.img{
          width: 70%;
          max-width: 43.7rem;
          &>*{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &.lottie{
          width: 30%;
          display: flex;
          height: 100%;
        }
        &__lottie{
          width: 50%;
          & svg{
            height: 86%!important;
            width: auto!important;
            transform: translateX(-42%) !important;
          }
        }
        &__text{
          width: 50%;
          &>* {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-height: 506px) {
  .fast {
    & .new-level__tabs__tab__block{
      & .fast__tabs__container__block.img{
        display: flex;
        justify-content: flex-end;
        padding-right: 3rem;
        &>*{
          width: auto;
        }
      }
    }
    &__tabs__container__block{
      &__lottie{
        width: 50%;
        & svg{
          height: 100% !important;
        }
      }
      &__text{
        height: 200%;
        width: 50%;
        transform: translateY(-22%);
      }
    }
  }
}

@media (max-width: 666px) {
  .fast {

  }
}

