@import "../../develop/app/pallete.scss";

.form-button{
  height: 5.8rem;
  max-width: 37rem;
  width: 100%;
  &>*{
    cursor: pointer;
    border-radius: .4rem;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.05em;
  }

  &.color_primary{
    &>*{
      background: $primary;
      color: #fff;
    }
  }
}